main {
  margin: 3rem 0 0 7rem;
  display: -ms-grid;
  display: grid;
  height: 100%;
}

main>div {
  width: 95%;
}

main>div>div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

main div div>form {
  width: 100%;
}

main h1 {
  margin-right: 50px;
}

.grid {
  display: grid;
  grid-template-columns: 280px auto;
  column-gap: 25px;
  row-gap: 50px;
}

.grid>div:not(.filterWrapper), .grid>div>div {
  background-color: #1e1f26;
  border-radius: 10px;
  display: block;
  width: 100%;
}

.filterWrapper{
  display: flex;
  align-content: flex-start;
}
.filterWrapper > div{
  position: sticky;
  top: 25px;
}

.grid>div>div>span {
  padding: 10px;
  width: 100%;
  display: block;
}

.grid div h3 {
  color: #dce0ff;
  background-color: #141419;
  padding: 5px 10px;
  margin-top: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  top: 0;
}

.grid form {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 10px;
  margin-top: 10px;
}

.grid form > *:not(*:last-child) {
  margin-bottom: 10px;
}


.searchbar, #searchbar {
  max-width: 100% !important;
  background-color: #141419 !important;
  max-height: min-content;
}

.vscomp-toggle-button,
.searchbar, #searchbar {
  max-width: 100% !important;
  border-radius: 10px;
}

.vscomp-toggle-all-button {
  width: 50px;
}

form button{
  width: 100% !important;
}

.perPageButtons{
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}
.perPageButtons .button1{
  border-radius: 0;
  justify-content: center;
}
.perPageButtons .button1[selected="true"]{
  color: #cc37c0;
}

#logs h3{
  margin: 0;
}
#logs span{
  display: flex;
  flex-flow: column wrap;
  padding: 10px;
}
#logs span div{
  background-color: #16161d;
  padding: 10px;
  border-radius: 10px;
  color: #dce0ff;
  margin: 5px 0;
}
#logs span p{
  color: gray;
  margin: 0;
  font-size: 0.8rem;
}
#logs span h4{
  margin: 5px 0;
  font-size: 1rem;
}
#logs span a{
  color: #cc37c0;
  font-size: 0.8rem;
  cursor: pointer;
}
#logs span a:hover{
  color: #dce0ff;
}
.left-align{
  text-align: left !important;
  max-width: 200px !important;
  word-break: break-all;
  word-wrap: break-word;
}