main {
    margin: 3rem 0 0 7rem;
    display: -ms-grid;
    display: grid;
    height: 100%;
  }
  main > div {
    width: 95%;
  }
  main > div > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  main div div > form {
    width: 100%;
  }
  main h1 {
    margin-right: 50px;
  }
  input[type=color]{
	width: 90%;
	height: 40px;
	border: none;
	border-radius: 10px;
	background: none;
    padding: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none; /*change color of the swatch border here*/
	border-radius: 10px;
}