main {
    margin: 7rem 0 0 7rem;
    display: grid;
    height: 100%;
  }
  main > div {
    width: 95%;
  }
  main > div > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 20px;
  }
  main > form > fieldset {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin-bottom: 10px;
    border: none;
    width: auto;
  }
  main > div > form > fieldset {
    border: none;
  }
  main form fieldset > div:not(#editor, .ql-toolbar, .editorWrapper, .top) {
    display: flex;
    flex-flow: row nowrap;
    width: 75vw;
  }
  .editorWrapper {
    width: 100%;
    min-width: unset;
    margin-right: none !important;
  }
  
  form input {
    color: #dce0ff;
    background-color: #141419;
    margin-top: 0;
    border: none;
    margin: 5px 10px 5px 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 280px;
    padding: 5px 10px;
    font-size: 0.9rem;
    height: 36px;
    border-radius: 10px;
    min-width: 230px;
  }
  form #video{
    width: 320px;
  }
  form select {
    background-color: #141419;
    color: #dce0ff;
    outline: none;
    border: none;
    margin: 0 0 5px 0;
    padding: 5px 10px 5px 5px;
    border-radius: 10px;
    height: 36px;
    min-width: 230px;
    margin-right: 10px;
  }
  #editor {
    border: none;
    overflow-y: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  form label {
    background-color: #1e1f26;
    color: #cc37c0;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  form label:hover {
    background-color: #141419;
  }
  
  #submitWrapper {
    display: flex;
    justify-content: end;
  }
  
  #errorText {
    color: red;
  }
  .ql-toolbar{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .ql-toolbar .ql-stroke {
    fill: none !important;
    stroke: #fff !important;
  }
  .ql-toolbar button:hover .ql-stroke,
  .ql-toolbar button:hover .ql-fill {
    fill: none !important;
    stroke: #cc37c0 !important;
  }
  .ql-toolbar .ql-fill {
    fill: #fff !important;
    stroke: none !important;
  }
  .ql-toolbar .ql-active .ql-stroke,
  .ql-toolbar .ql-active .ql-fill {
    fill: none !important;
    stroke: #e6b530 !important;
  }
  .ql-toolbar {
    background-color: #141419;
    border: none !important;
  }
  .ql-editor {
    background-color: #1e1f26;
    color: white;
    border: none;
    outline: none;
    min-height: 300px;
    word-break: break-word;
  }
  .ql-toolbar .ql-picker {
    color: rgb(255, 255, 255) !important;
    outline: none !important;
    border: none !important;
  }
  .ql-picker-options {
    background-color: #141419 !important;
    border: none !important;
  }
  .ql-expanded .ql-picker {
    color: rgb(235, 90, 90) !important;
  }
  
  #searchbar{
    max-width: 100%;
    background-color:#141419 !important;
    height: 36px;
    border-radius: 10px;
    margin-bottom: 5px;
  }
  .vscomp-toggle-button, #searchbar {
    max-width: 100% !important;
    border-radius: 10px;
  }
  #editor img{
    object-fit: cover;
    height: 300px;
    cursor: url("/billing/public/images/plus_cursor.png") 25 25, auto;
    filter: brightness(0.96);
  }
  @media screen and (max-width: 600px) {
    main {
      margin-left: 0.5rem;
      overflow-y: auto;
      display: block;
    }
    form #subject {
      width: 200px;
      padding: 5px;
      font-size: 0.9rem;
    }
    form {
      margin-bottom: 100px;
    }
  }
  