:root {
  font-size: 16px;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}
html {
  background-color: var(--main-bg);
}
body {
  overflow-x: hidden;
  height: auto;
  overflow-y: auto;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
}
main {
  margin: 3rem 0 0 7rem;
  display: grid;
  grid-template-areas: "main";
  grid-template-columns: 90%;
  grid-template-rows: auto;
  justify-content: space-between;
  height: 100%;
  overflow-x: auto;
}
main > div {
  grid-area: main;
}
main h1 {
  background: -webkit-linear-gradient(-200deg, #cc37c0 80%, #e6b530);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main h2 {
  color: #dce0ff;
}
main hr {
  border: none;
  height: 2px;
  background-color: #3e404f;
}
.decorationWrapper {
  display: flex;
  flex-flow: row wrap;
  margin-top: 10vw;
  align-items: baseline;
}
.cardWrapper {
  display: grid;
  grid-template-areas:
    "users staffannouncements"
    "transactions permissions"
    "lol permissions";
  column-gap: 5%;
  row-gap: 50px;
  margin-bottom: 100px;
}

.cardWrapper div {
  color: #dce0ff;
  background-color: #1e1f26;
  height: auto;
  border-radius: 10px;
}
.cardWrapper div h3 {
  color: #dce0ff;
  background-color: #141419;
  padding: 5px 10px;
  margin-top: 0;
  width: 100%;
  margin-bottom: 0;
  border-radius: 10px 10px 0 0;
}
.cardWrapper div button {
  color: #cc37c0;
  background-color: transparent;
  padding: 5px 10px;
  margin-top: 0;
  margin-bottom: 0;
  outline: none;
  border: none;
  cursor: pointer;
}
.cardWrapper div button.selected {
  color: #e6b530;
}
.cardWrapper form {
  padding: 0px 10px 10px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.cardWrapper form {
  padding: 0px 10px 10px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.cardWrapper form div {
  display: flex;
  flex-flow: column nowrap;
}

.cardWrapper form fieldset {
  padding: 10px;
  width: 75%;
  border: none;
  line-height: 25px;
}

.cardWrapper form fieldset label {
  color: #dce0ff;
}

.cardWrapper form input {
  margin-top: 10px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.cardWrapper form input[type="reset"] {
  visibility: hidden;
  position: absolute;
}

.cardWrapper form input[type="submit"] {
  visibility: hidden;
  position: absolute;
}

.cardWrapper form input:read-only {
  color: #3e404f;
}
.cardWrapper form input {
  color: #dce0ff;
  background-color: #141419;
  padding: 5px 10px;
  margin-top: 0;
  border: none;
}

.cardWrapper form p {
  color: #3e404f;
}

.cardWrapper .labelButton {
  width: 60px;
  height: 60px;
  margin: 10px;
  background-color: #141419;
  border: none;
  color: #dce0ff;
  font-size: 2rem;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.cardWrapper .labelButton:hover {
  background-color: #292a34;
  color: #dce0ff;
}

.cardWrapper form button {
  width: 60px;
  height: 60px;
  margin: 10px;
  background-color: #141419;
  border: none;
  color: #dce0ff;
  font-size: 2rem;
  cursor: pointer;
}

.cardWrapper form button:hover {
  background-color: #292a34;
  color: #dce0ff;
}

#users {
  grid-area: users;
  max-height: 600px;
}
#users div{
  width: 100%;
  padding-inline: 10px;
  padding-bottom: 10px;
  position: relative;
  max-height: 400px;
}
#users div canvas{
  max-height: 350px;
}
#permissions {
  grid-area: permissions;
}
#staffannouncements {
  grid-area: staffannouncements;
  max-width: 500px;
}

#staffannouncements h4{
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 1.1rem;
}
#staffannouncements p{
  margin: 0;
  margin-left: 10px;
}

#staffannouncements span{
  width: 100%;
  padding: 20px;
  margin-bottom: 3px;
  display: flex;
  flex-flow: row nowrap;
  opacity: 0.9;
  word-break:break-word;
}

#staffannouncements span:hover{
  opacity: 1;
}

#staffannouncements .announcement{
  background-color: rgba(230, 181, 48, 0.2);
  border-left: 2px #e6b530 solid;
}

#staffannouncements .ticket{
  background-color: rgba(230, 48, 48, 0.2);
  border-left: 2px #e63030 solid;
}

#staffannouncements .ticketsOpen{
  background-color: rgba(51, 48, 230, 0.2);
  border-left: 2px #3033e6 solid;
}

#transactions {
  grid-area: transactions;
}
#permissions div{
  width: 100%;
  padding-inline: 10px;
  padding-bottom: 10px;
  position: relative;
  margin-top: 25px;
  max-width: 500px;
}
#permissions div canvas{
  width: 100%;
  max-height: 350px;
}

@media screen and (max-width: 1084px) {
    .cardWrapper form div {
        display: flex;
        flex-flow: row nowrap;
      }
  }

@media screen and (max-width: 1000px) {

  main {
    grid-template-areas: "main";
    grid-template-columns: 90%;
  }
  .cardWrapper {
    display: grid;
    grid-template-areas:
    "users"
    "staffannouncements"
    "transactions"
    "permissions";
    column-gap: 5%;
    row-gap: 50px;
  }
  .cardWrapper form div {
    display: flex;
    flex-flow: column nowrap;
  }
  #permissions div{
    max-width: unset;
  }
  #staffannouncements {
    max-width: unset;
}
}
@media screen and (max-width: 600px) {

  main {
    margin: 3rem 0 0 1rem;
    grid-template-areas: "main";
    grid-template-columns: 90%;
  }
  .deco:nth-of-type(8) {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 427px) {

    .cardWrapper form div {
        display: flex;
        flex-flow: row nowrap;
      }
      body{
        margin: 0;
    }
  }