main {
  margin: 3rem 0 0 7rem;
  display: -ms-grid;
  display: grid;
  height: 100%;
}
main > div {
  width: 95%;
}
main > div > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
main div div > form {
  width: 100%;
}
main h1 {
  margin-right: 50px;
}
#go-back{
  color: gray;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
#go-back:hover{
  color: #dce0ff;
}
#grid{
  display: grid;
  grid-template-areas: 
    "overview text"
    "overview management";
  grid-template-columns: minmax(240px, 1fr) 4fr;
  margin-bottom: 50px;
  column-gap: 10px;
}
.cardWrapper{
  grid-area: overview;
}
.user-card{
  background-color: #1e1f26;
  border-radius: 10px;
  overflow: hidden;
  display: block;
  position: sticky;
  top: 30px;
}
.card h3{
  padding: 5px 10px;
  background-color: #141419;
  display: block;
  margin: 0;
  color: #dce0ff;
}
.card  a{
  color: #cc37c0;
  cursor: pointer;
}
.card > h3 > a{
  float: right;
}
.card a:hover{
  color: #dce0ff;
}
.card div{
  padding: 10px;
  color: #dce0ff;
}
.card div .full-name{
  font-weight: bold;
  margin: 10px 0 0 0;
}
.card div #role{
  font-size: 0.9rem;
  color: gray;
  margin: 0;
}
.card div p{
  font-size: 0.95rem;
}
.card div p span{
  color: gray;
  font-size: 0.95rem;
}
.card > div > p > svg{
  color: #cc37c0 !important;
  align-self: center;
}
.card sup{
  color: gray;
}
.card div button{
  background-color: #cc37c0;
  color: #dce0ff;
  border-radius: 10px;
  border: 0;
  padding: 10px;
  width: 100%;
  margin-top: 5px;
  font-weight: normal;
  cursor: pointer;
}
.card div button:hover{
  background-color: #e6b530;
}
.edit-card{
  background-color: #1e1f26;
  border-radius: 10px;
  overflow: hidden;
  display: block;
  position: sticky;
  top: 30px;
}
.user-edit{
  grid-area: text;
  background-color: #1e1f26;
  border-radius: 10px;
  overflow: hidden;
  display: block;
}
.user-edit form{
  padding: 10px;
}
.user-edit form label{
  color: gray;
  font-size: 0.9rem;
}
.user-edit form input[type="text"], .user-edit form input[type="email"], .user-edit form select{
  color: #dce0ff;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  margin: 5px 0 10px 0;
  outline: none;
  background-color: #141419;
  border: none;
}
.user-edit form fieldset{
  border: 0;
  line-height: 100%;
  padding: 0;
  line-height: 28px;
}
.user-edit form button.button1{
  width: 100%;
}
.user-edit form *:disabled{
  cursor: not-allowed;
  color: gray;
}
.user-edit form button.button3{
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  color: #dce0ff;
  background-color: #141419;
  cursor: pointer;
}
.user-edit form button.button3:hover{
  background-color: #292a34;
}