* {
  box-sizing: border-box;
}
body {
  background: black;
  border: 25px solid greenyellow;
  border-right: none;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden !important;
}
ball {
  display: block;
  position: absolute;
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
}
player {
  display: block;
  position: absolute;
  background: greenyellow;
  height: 200px;
  width: 25px;
  right: 25px;
  top: calc(50% - 100px);
}
h1{
    color: white; font-family: 'Roboto Mono'; text-align: center
}
h2{
    color: white; font-family: 'Roboto Mono'; text-align: center
}
h3:first-of-type{
    z-index: -1; color: #111111; font-family: 'Roboto Mono'; font-size: 16rem; text-align: center; margin: 0;
}
h3:last-of-type{
    z-index: -1; color: #111111; font-family: 'Roboto Mono'; font-size: 8rem; text-align: center; margin: 0;
}