.carousel {
    margin-inline: auto;
    width: 90%;
    position: relative;
    top: 100px;
    height: 175px;
    border-radius: 10px;
    overflow: hidden;
}

.carousel-cell h3 {
    color: #cc379d;
}

.carousel-cell:hover h3 {
    color: #884bff;
}

.carousel-cell {
    width: 22.5%;
    height: 100%;
    margin-right: 10px;
    padding-inline: 20px;
    background-color: #1b1c23;
    border-radius: 9px;
    display: flex;
    flex-flow: column;
    color: #dce0ff;
    overflow: hidden;
}


@media screen and (max-width: 915px) {
    .carousel {
        height: 250px;
    }
    .carousel-cell {
        width: 50%;
    }
}