*{
    font-family: "Ubuntu";
    font-smooth: always;
    box-sizing:border-box !important;
}

body {
    background-color: rgb(240, 240, 240);
    background-image: radial-gradient(#e3e3e3 10%, transparent 11%),
      radial-gradient(#e3e3e3 10%, transparent 11%);
    background-size: 10px 10px;
    background-position: 0 0, 15px 15px;
    background-repeat: repeat;
    overflow: auto !important;
    height: 2000px;
  }
