nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    background-color: white;
    border-bottom:rgb(170, 170, 170) 1px solid;
    padding: 20px 0 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    overflow: auto;
}
nav > div:nth-of-type(1) > a{
    text-align: center;
    vertical-align:middle;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: auto;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 10px;
}
nav > div:nth-of-type(1), nav > div:nth-of-type(3){
    width: 300px;
}
nav > div:nth-of-type(2){
    display: flex;
    flex-flow: row nowrap;
    height: 70px;
}
nav > div:nth-of-type(2) > *{
    font-weight: 500;
    cursor: pointer;
    padding-inline: 35px;
    margin-top: none !important;
    margin-bottom: 0 !important;
}
nav > div:nth-of-type(2) > *:hover{
    border-bottom: #ca4a80 5px solid;
}
nav > div:nth-of-type(3){
    display: flex;
    align-items:flex-start;
    padding-top: 5px;
}
nav > div:nth-of-type(3) > a{
    background-color: #ca4a80;
    text-align: center;
    margin-inline: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    width: 50%;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    height: auto !important;
    min-width: 150px;
}
nav > div:nth-of-type(3) > a:hover{
    background-color: #db4885;
}
nav > div:nth-of-type(3) > button{
    margin-top: 4px;
    font-size: 1.9rem;
    border: none;
    background: none;
    color: #ca4a80;
    cursor: pointer;
}
nav > div:nth-of-type(3) > button:hover{
    color: #db4885;
}