#preloader{
  position: fixed;
  display: grid;
  background-color: white;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  place-items: center;
}
.dark #preloader{
background-color: rgb(20,20,20);
}