
:root{
    --highlights: #ed5087;
    --main: #1f1f25;
    --sub: #24242c;
    --items: #282831;
    font-family: 'Ubuntu', sans-serif;
}

.two-fa-dialog{
    width: 35%;
    justify-self: center;
    align-self: center;
    position: absolute;
    height: auto;
    margin: auto;
    z-index: 50;
    right:0px;
    left: 0px;
    top: 100px;
    background-color: var(--main);
    border-radius: 10px;
    padding: 0px 40px;
    display: flex;
    color: white;
}

.two-fa{
    width: 100%;
}

.two-fa h2{
    color: var(--highlights);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.text-input{
    width: 75%;
    border-radius: 10px;
    border: 2px solid var(--main);
    height: 50px;
    margin-top: 10px;
    background-color: var(--sub);
    font-size: 1.35rem;
    padding-inline: 10px;
    color: var(--highlights);
    margin-bottom: 10px;
}
.text-input:hover{
    outline: none;
    background-color: var(--items);
}
.text-input:focus{
    outline: none;
    border: 2px solid var(--highlights);
}
label{
    margin-left: 20px;
    font-size: 1.5rem;
}
.disabled{
    display: none;
}
.checkbox{
    width: 30px;
    height: 30px;
    appearance: none;
    border: 5px solid var(--sub);
    border-radius: 10px;
    background-color: var(--sub);
}
.checkbox:hover{
    cursor: pointer;
    background-color: var(--items);
    border-color: var(--items);
}
.checkbox:checked{
    background-color: var(--highlights);
}
.submit{
    margin: 20px 0px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    width: 80%;
    color: white;
    background-color: var(--highlights);
    font-size: 1.25rem;
    filter: brightness(0.90);
}
.submit:hover{
    cursor: pointer;
    filter: brightness(1);
}
.flex-align{
    display: flex;
    align-items: center;
}
.cancel{
    padding: 0;
    margin: 10px;
    font-size: 2rem;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    color: var(--highlights);
}
.cancel:hover{
    color: white;
    cursor: pointer;
}

.register{
    flex-direction: row;
    height: auto;
    width: 100%;
    display: block;
}

#register-toggle{
    color: var(--highlights);
    text-decoration: none;
    background-color: transparent;
    border: none;
    margin-left: 5px;
    font-size: 0.95rem;
    padding: 0;
}
#register-toggle:hover{
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 1000px){
    .login-other a{
        width: 100%;
        padding: 50% 0;
    }
}
@media screen and (max-width: 800px){
    .two-fa-dialog{
        width: 50%;
    }
}
@media screen and (max-width: 600px){
    .two-fa-dialog{
        width: 75%;
    }
}

@media screen and (max-width: 400px){
    .two-fa-dialog{
        flex-direction: column;
        padding: 10px;
    }
    .two-fa-dialog h1{
        font-size: 1.5rem;
    }
    .two-fa-dialog h2{
        font-size: 1.25rem;
    }
    label{
        font-size: 1.1rem;
    }
    .text-input{
        font-size: 1rem;
        width: 100%;
    }
    .login-other{
        width: 100%;
        flex-direction: row;
        padding: 0;
        overflow: auto;
        flex-wrap: wrap;
    }
    .login-other a{
        width: 25%;
        margin-right: 10px;
        padding: 12.5% 0;
        max-width: 60px;
    }
    .submit{
        width: 100%;
    }
}
