<html lang="en">

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2.2.2/dist/flickity.css" media="screen">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/index.css">
    <meta charset="UTF-8">
    <meta name="title" content="Amethyst Host">
    <meta name="description"
        content="We provide affordable, high quality hosting solutions for even the biggest Minecraft servers. Starting at €0.80/GB of RAM.">
    <meta name="keywords" content="Amethyst, Hosting, Minecraft, Cheap, Quality, Server">
    <meta name="author" content="Richard 'Em1t' Marcinčák">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav id="navbar">
        <a href="#"><img src="../images/ACLogoT.png" aria-hidden="true" aria-label="Logo of amethyst.host" alt="Amethyst Host Logo" id="logo">
            <p>Amethyst.host</p>
        </a>
        <div class="text">
            <a href="#" id="about"><span class="textContent">About</span><span class="iconContent"><i class="fa fa-info-circle" aria-label="About Amethyst.host"></i></span></a>
            <div class="dropdown">
                <button class="dropbtn"><span class="textContent">Pricing</span><span class="iconContent"><i class="fa fa-tags" aria-label="Dropdown menu of our pricing for our products"></i></span></button>
                <div class="dropdown-content">
                    <a href="#">Minecraft</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn"><span class="textContent">Support</span><span class="iconContent"><i class="fa fa-question-circle" aria-label="Dropdown menu of our support options"></i></span></button>
                <div class="dropdown-content" id="support">
                    <a href="#">Create a ticket</a>
                    <a href="#">Join our Discord</a>
                    <a href="#">Write an E-Mail</a>
                    <a href="#">View our knowledgebase</a>
                </div>
            </div>
        </div>
        <a href="#" id="client-area"><span class="textContent">Client Area</span><span class="iconContent"><i class="fa fa-user" aria-label="Client Area button"></i></span></a>
    </nav>
    <header>
        <div>
            <h1>Amethyst.host</h1>
            <h2><i>Minecraft servers starting at <b>€0.75EUR/GB</b></i></h2>
        </div>
    </header>
    <>
    <!--FLICKITY-->
    <script>
        document.addEventListener("scroll", () => {
            if (document.body.scrollTop > 0) {
                document.getElementById("navbar").style = "background-color:rgba(30, 30, 36, 0.9);"
            } else if(document.body.scrollTop == 0){
                document.getElementById("navbar").style = "background-color:rgba(36, 36, 44, 0);";
            }
        });
    </script>
    <script defer src="https://unpkg.com/flickity@2.2.2/dist/flickity.pkgd.min.js"></script>
</body>

</html>