<html lang=en/EN>

<head>
    <link rel="stylesheet" href="css/404.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/792578796c.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class=navbar>
        <div>
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./index.html#about">About</a></li>
                <li>Pricing</li>
                <li>Legal</li>
                <li>Support</li>
            </ul>
        </div>
        <div>
            <ul>
                <li class=panel>Panel</li>
            </ul>
        </div>
    </div>
    <div class=navbar2>
        <div>
            <ul>
                <li><i class="fas fa-home"></i></li>
                <li><i class="fas fa-shopping-cart"></i></li>
                <li><i class="fas fa-columns dash"></i></li>
                <li><i class="fas fa-balance-scale-right"></i></li>
                <li><i class="fas fa-question-circle"></i></li>
            </ul>
        </div>
    </div>
    <section id="welcome">
        <img src="./static/Amethyst.host-logo.png" alt="Amethyst.host logo" title="Amethyst.host logo" class="logo" />
        <div class="logo-background"></div>
        <div class = heading>
            <h1 class=hl>404</h1>
            <p class=hl>Page not found.</p>
        </div>
        </section>
</body>

</html>