<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/index.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/792578796c.js" crossorigin="anonymous"></script>
    <title>Amethyst.host</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Amethyst.host is a Minecraft server host provider. We provide cheap solutions for even the biggest projects you may have!">
    <meta name="author" content="Richard Marcinčák">
    <meta name="keywords" content="Minecraft, hosting, server, cheap, amethyst, host, game">
</head>

<body>
    <div class=navbar>
        <div>
            <ul>
                <li><a href="#about">About</a></li>
                <li>Pricing</li>
                <li>Legal</li>
                <li>Support</li>
            </ul>
        </div>
        <div>
            <ul>
                <li class=panel>Panel</li>
            </ul>
        </div>
    </div>
    <div class=navbar2>
        <div>
            <ul>
                <li><i class="fas fa-home"></i></li>
                <li><i class="fas fa-shopping-cart"></i></li>
                <!--<li><i class="fas fa-columns dash"></i></li>-->
                <li><i class="fas fa-columns dash"></i></li>
                <li><i class="fas fa-balance-scale-right"></i></li>
                <li><i class="fas fa-question-circle"></i></li>
            </ul>
        </div>
    </div>
    <section id="welcome">
        <img src="./static/Amethyst.host-logo.png" alt="Amethyst.host logo" title="Amethyst.host logo" class="logo" />
        <div class="logo-background"></div>
        <div class=heading>
            <h1>Affordable, quality<br>Minecraft server hosting</h1>
            <p>with fast support and high uptime</p>
        </div>
    </section>
    <section id=about>
        <h1 class=purpleH>Time to ditch Apex & Shockbyte!</h1>
        <p class=purpleH>We provide the <b class=purpleH>best</b> hardware for <b class=purpleH>50% cheaper</b> than our
            competitors. <i class=purpleH>Now that's a good price!</i>
        </p>
        <div class="items">
            <div class=item>
                <i class="fas fa-microchip icons"></i>
                <h2 class=purpleH>AMD Ryzen 5 3600</h2>
                <p class="specs purpleH"># of CPU cores: 6</p>
                <p class="specs purpleH"># of threads: 12</p>
            </div>
            <div class=item>
                <i class="fas fa-memory icons"></i>
                <h2 class=purpleH>DDR4 Memory</h2>
                <p class="specs purpleH">70% faster than DDR3</p>
            </div>
            <div class=item>
                <i class="fas fa-wifi icons"></i>
                <h2 class=purpleH>100% Uptime</h2>
                <p class="specs purpleH">All network outages are covered by our SLA</p>
            </div>
            <div class=item>
                <i class="fas fa-shield-alt icons"></i>
                <h2 class=purpleH>DDOS protection</h2>
                <p class="specs purpleH">Our servers have an advanced DDOS protection</p>
            </div>
            <div class=item>
                <i class="fas fa-ticket-alt icons"></i>
                <h2 class=purpleH>Fast support</h2>
                <p class="specs purpleH">No more waiting for replies!</p>
            </div>
            <div class=item>
                <i class="fas fa-columns icons"></i>
                <h2 class=purpleH>Pterodactyl panel</h2>
                <p class="specs purpleH">Fast and easy to use panel to manage your servers</p>
            </div>
            <div class=item>
                <i class="fas fa-wallet icons"></i>
                <h2 class=purpleH>14 day refund policy</h2>
                <p class="specs purpleH">We provide refunds within 14 days of the initial purchase</p>
            </div>
            <div class=item>
                <i class="fas fa-smile icons"></i>
                <h2 class=purpleH>Free trial</h2>
                <p class="specs purpleH"><a rel="noopener" href="https://discord.gg/d4DQKXd7qX" target="_blank" class="purpleH link">Join our Discord</a> and ask for a free trial</p>
            </div>
        </div>
        <p class=purpleH>Ready to order?</p>
        <p><a href="#" class="purpleH orderButton">Order now!</a></p>
    </section>
</body>

</html>