<html lang=en/EN>

<head>
    <link rel="stylesheet" href="css/index.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
    </style>
</head>

<body>
    <div class=navbar>
        <div>
            <ul>
                <li>About</li>
                <li>Product</li>
                <li>Legal</li>
                <li>Support</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>Panel</li>
            </ul>
        </div>
    </div>
    <img src="./static/Amethyst.host-logo.png" alt="Amethyst.host logo" title="Amethyst.host logo" class="logo"/>
    <p>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>
    </p>

    <footer>
        Hello
    </footer>
</body>

</html>
