<html lang=en/EN>

<head>
    <link rel="stylesheet" href="css/index.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/792578796c.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class=navbar>
        <div>
            <ul>
                <li class=about>About</li>
                <li class=product>Product</li>
                <li class=legal>Legal</li>
                <li class=support>Support</li>
            </ul>
        </div>
        <div>
            <ul>
                <li class=panel>Panel</li>
            </ul>
        </div>
    </div>
    <div class=navbar2>
        <div>
            <ul>
                <li><i class="fas fa-home"></i></li>
                <li><i class="fas fa-shopping-cart"></i></li>
                <li><i class="fas fa-columns dash"></i></li>
                <li><i class="fas fa-columns"></i></li>
                <li><i class="fas fa-balance-scale-right"></i></li>
                <li><i class="fas fa-question-circle"></i></li>
            </ul>
        </div>
    </div>
    <img src="./static/Amethyst.host-logo.png" alt="Amethyst.host logo" title="Amethyst.host logo" class="logo"/>
    <div class="logo-background"></div>
    <h1 class="heading">Affordable, high quality<br>Minecraft hosting</h1>
    <p class="heading2">with fast support and high uptime</p>
</body>

</html>
