main {
    margin: 3rem 0 2rem 7rem;
    display: grid;
    height: 100%;
  }
  main > div {
    width: 95%;
  }
  main > div > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  main div div > form {
    width: 100%;
  }
  main h1 {
    margin-right: 50px;
  }
  .articleInfo {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  .articleInfo * {
    color: gray;
    margin: 0 10px;
  }
  .articleInfo a{
    padding: 10px;
    background-color: #141419;
    border-radius: 10px;
    text-decoration: none;
  }
  .articleInfo a:hover{
    background-color: #1e1f26;
    color: #dce0ff;
  }
  #editor{
      border: 0;
      color: white;
      margin-bottom: 100px;
  }
  .ql-editor{
      width: 100%;
      font-size: 1rem;
  }
  .ql-editor > *{
      cursor: default !important;
  }
  #editor img{
    object-fit: cover;
    height: 300px;
    cursor: url("/billing/public/images/plus_cursor.png") 25 25, auto;
    filter: brightness(0.96);
  }
  footer{
    position: fixed;
    bottom: -100px;
    height: 100px;
    width: 100%;
    left: 0;
    background-color: #141419;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: #dce0ff;
    transition: 0.5s ease;
  }
  footer button{
    margin-left: 10px;
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    color: #dce0ff;
    cursor: pointer;
  }
  footer button:disabled:hover{
    cursor: not-allowed;
    color: #dce0ff;
  }
  footer button:hover{
    color: #cc37c0;
  }
  footer button[selected]{
    color: #e6b530;
    cursor: not-allowed;
  }
  #iframeWrapper{
    width: 95%;
    background-color: #141419;
    padding: 10px;
  }
  #go-back{
    color: gray;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }
  #go-back:hover{
    color: #dce0ff;
  }