main {
    margin: 3rem 0 2rem 7rem;
    display: grid;
    height: 100%;
  }
  main > div {
    width: 95%;
  }
  main > div > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  main div div > form {
    width: 100%;
  }
  main h1 {
    margin-right: 50px;
  }
  main div form {
    display: flex;
    flex-flow: row nowrap;
    background-color: #141419;
    border-radius: 10px;
  }
  #searchbar{
    max-width: 100% !important;
    background-color:#141419 !important;
    height: 36px !important;
  }
  .vscomp-toggle-button, #searchbar {
    max-width: 100% !important;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  main div form button {
      max-width: 100% !important;
      background-color: #141419;
      border: none;
      color: gray;
      width: 36px;
      padding: 0;
      cursor: pointer;
      margin-left: auto;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
  }
  main div form button:hover {
      color: #cc37c0;
  }
  .vscomp-toggle-all-button {
    width: 50px;
  }
  .vscomp-value {
    width: 100%;
  }
  .vscomp-value-tag {
    width: auto;
  }
  .knowledgebase-categories {
    display: flex;
    max-height: 0;
    overflow: hidden;
    background-color:#1e1f26;
    flex-flow: column nowrap;
    transition: max-height 0.2s ease-out;
    border-radius: 10px;
  }
  button[type="button"]{
    width: 95%;
    background-color:#141419;
    margin-top: 20px;
    padding: 20px;
    color: white;
    border: 0;
    cursor: pointer;
    font-size: 1.2rem;
    margin-bottom: 5px;
    border-radius: 10px;
  }
  button[type="button"]:hover{
    background-color:#1e1f26;
  }
  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: rgb(255, 24, 24);
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  .knowledgebase-categories a, .knowledgebase-categories > div {
    background-color: #141419;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 2px solid;
    transition: 0.5s ease;
  }
  .knowledgebase-categories > div{
    height: 66px;
    border: transparent;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: flex-start;
  }
  .knowledgebase-categories > div > div:first-of-type{
    display: block;
    background-color: #292a34;
    width: 20%;
    height: 25px;
    border-radius: 10px;
  }
  .knowledgebase-categories > div > div:last-of-type{
    display: block;
    background-color: #1e1f26;
    width: 25%;
    height: 12px;
    border-radius: 10px;
    margin-top: 10px;
  }
  .knowledgebase-categories a:hover {
    border-left: 5px solid;
    transition: 0.5s ease;
  }
  .knowledgebase-categories h2 {
    margin: 0;
  }
  .knowledgebase-categories p {
    margin: 0;
    color: gray;
  }
  .articles{
    margin-top: 10px;
  }
  .articles a, .articles div{
    text-decoration: none;
    display: block;
    border-radius: 10px;
    padding: 15px;
    background-color: #141419;
    margin-bottom: 5px;
  }
  .articles a:hover{
    background-color: #1e1f26;
  }
  .articles h3{
    margin: 0;
    margin-bottom: 15px;
  }
  .articles span{
    margin-right: 5px;
    padding: 5px 15px;
    border: 2px solid #292a34;
    border-radius: 20px;
    color: gray;
  }
  .articles > div{
    padding: 15px;
  }
  .articles > div > div:first-of-type{
    display: block;
    background-color: #292a34;
    width: 20%;
    margin-bottom: 10px;
    padding: 10px;
  }
  .articles > div > div:last-of-type{
    display: flex;
    padding: 0;
  }
  .articles > div > div div{
    border: 2px solid #1e1f26;
    width: 50px;
    border-radius: 50px;
    padding: 13px;
    margin-right: 5px;
  }
  .pageButtons{
    width: 95%;
    margin-top: 5px;
  }
  .pageButtons button:disabled{
    color: #292a34;
    background-color: #141419;
    cursor: default;
  }
  .pageButtons button{
    float: right;
    padding: 10px;
    border: none;
    color: #dce0ff;
    background-color: #141419;
    cursor: pointer;
  }
  .pageButtons button:not(:disabled):hover{
    color: #cc37c0;
    background-color: #1e1f26;
  }
  .pageButtons button:first-of-type{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .pageButtons button:last-of-type{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

#checkboxWrapper{
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
}
#checkboxWrapper > *{
  margin-right: 20px;
}

  @media screen and (max-width: 600px) {
    main {
      margin: 1rem 1rem 100px 1rem;
    }
  }
  .articleInfo button{
    border-radius: 10px;
    border: 0;
    padding: 10px;
    color: #dce0ff;
    background-color: #141419;
    cursor: pointer;
  }
  .articleInfo button:hover{
    background-color: #1e1f26;
  }
  .articleInfo button:disabled{
    cursor: default;
    color: #292a34;
    background-color: #141419;
  }