main {
  margin: 3rem 0 0 7rem;
  display: grid;
  grid-template-areas: "main banner";
  grid-template-columns: 70% 250px;
  grid-template-rows: auto;
  justify-content: space-between;
  height: 100%;
}
main > div {
  grid-area: main;
}
main > aside {
  margin-right: 1.4rem;
}
main > aside div {
  grid-area: banner;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  border: 2px solid #3e404f;
  filter: brightness(0.9);
  aspect-ratio: 1/3;
  background-size: cover;
  background-image: url(/billing/public/images/Banner.png);
  outline: none;
  margin-bottom: 50px;
}
main > aside div:hover {
  filter: brightness(1);
}
.decorationWrapper {
  display: flex;
  flex-flow: row wrap;
  margin-top: 10vw;
  align-items: baseline;
}
.decoration {
  display: block;
  border-radius: 20px;
  margin: 0.5rem 1rem 0.5rem 0; 
  filter: brightness(0.9);
  transition: 600ms ease;
}
.decoration:hover {
  filter: brightness(1);
}
.decoration._0{
  width: 40%;
  background-color: #3e404f;
  height: 70px;
  min-width: 140px;
}
.decoration._1 {
  width: 50%;
  background-color: #333541;
  height: 70px;
  min-width: 150px;
}
.decoration._2 {
  width: 20%;
  background-color: #3e404f;
  height: 50px;
  min-width: 100px;
}
.decoration._3 {
  width: 35%;
  background-color: #333541;
  height: 50px;
  min-width: 130px;
}
.decoration._4 {
  width: 15%;
  background-color: #3e404f;
  height: 50px;
  min-width: 80px;
}
.decoration._5 {
  width: 60%;
  background-color: #333541;
  height: 30px;
  min-width: 160px;
}
.decoration._6 {
  width: 30%;
  background-color: #3e404f;
  height: 30px;
  min-width: 200px;
}
.decoration._7 {
  width: 35%;
  background-color: #3e404f;
  height: 40px;
  min-width: 90px;
}

.cardWrapper {
  display: grid;
  grid-template-areas:
    "account security"
    "services services"
    "transactions transactions";
  column-gap: 5%;
  row-gap: 50px;
}

#accountCard {
  grid-area: account;
}
#security {
  grid-area: security;
}
#services {
  grid-area: services;
}
#transactions {
  grid-area: transactions;
}

.cardWrapper div {
  background-color: #1e1f26;
}

.cardWrapper div h3 {
  color: #dce0ff;
  background-color: #141419;
  padding: 5px 10px;
  margin-top: 0;
}

#accountCard form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#accountCard form div {
  display: inherit;
  flex-flow: column nowrap;
}

#accountCard form fieldset {
  padding: 10px;
  width: 100%;
  border: none;
  line-height: 25px;
}
#accountCard form fieldset div {
  display: flex;
  flex-flow: row nowrap;
}
#accountCard form fieldset div > *{
  margin-right: 10px;
}

#security > div{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
#security div button{
    margin: 10px;
}
#security div button:hover{
    background-color: #292a34;
}
#delete-button{
  color:red !important;
}
#update-error{
  color: white;
}

@media screen and (max-width: 1000px) {
  main {
    grid-template-areas: "main";
    grid-template-columns: 95%;
  }
  #accountCard form fieldset div:first-of-type {
    flex-flow: column nowrap;
  }
  #accountCard form fieldset div:first-of-type * {
    margin: 10px 0 0 0;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .cardWrapper {
    grid-template-areas:
      "account"
      "security"
      "services"
      "transactions";
  }
  main {
    margin: 3rem 0 0 1rem;
  }
  .deco:nth-of-type(8) {
    margin-bottom: 100px;
  }
  #transactions{
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 427px) {
      body{
        margin: 0;
    }
  }