main {
  margin: 3rem 0 0 7rem;
  display: grid;
  height: 100%;
}
main > div {
  width: 95%;
}
main > div > form > fieldset {
  border: none;
}
main form fieldset > div:not(#editor, .ql-toolbar, .editorWrapper, .top) {
  display: flex;
  flex-flow: row nowrap;
  width: 75vw;
}
.editorWrapper {
  width: 100%;
  min-width: unset;
  margin-right: none !important;
}

#editor {
  border: none;
  overflow-y: auto;
  max-height: 300px;
  border-radius: 0px 0px 10px 10px;
}

#submitWrapper {
  display: flex;
  justify-content: end;
  flex-flow: row wrap;
}
.ql-toolbar{
  border-radius: 10px 10px 0 0;
}
.ql-toolbar .ql-stroke {
  fill: none !important;
  stroke: #fff !important;
}
.ql-toolbar button:hover .ql-stroke,
.ql-toolbar button:hover .ql-fill {
  fill: none !important;
  stroke: #cc37c0 !important;
}
.ql-toolbar .ql-fill {
  fill: #fff !important;
  stroke: none !important;
}
.ql-toolbar .ql-active .ql-stroke,
.ql-toolbar .ql-active .ql-fill {
  fill: none !important;
  stroke: #e6b530 !important;
}
.ql-toolbar {
  background-color: #141419;
  border: none !important;
}
.ql-editor {
  background-color: #1e1f26;
  color: white;
  border: none;
  outline: none;
  min-height: 300px;
  word-break: break-word;
}
.ql-toolbar .ql-picker {
  color: rgb(255, 255, 255) !important;
  outline: none !important;
  border: none !important;
}
.ql-picker-options {
  background-color: #141419 !important;
  border: none !important;
}
.ql-expanded .ql-picker {
  color: rgb(235, 90, 90) !important;
}

form input[type="submit"] {
  width: 200px;
  padding-inline: 0;
  text-align: center;
  border-radius: 10px;
}
form #subject {
  width: 400px;
  margin-bottom: 10px;
}
form #email {
  width: 300px;
  margin-bottom: 10px;
}
.screenshotsWrapper{
    display: flex;
    flex-flow: row wrap;
    align-items:baseline;
    padding: 0 10px 0 10px;
    margin-inline: 1px;
}

.screenshotsWrapper p{
    color: white;
}
#imageManager{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    background: #1e1f26;
    border-radius: 10px;
}
#imageManager > div{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    align-items: center;
}
#imageManager > div > div{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}
#imageManager div button{
    background: #141419;
    border: none;
    padding: 10px;
    color: red;
    cursor: pointer;
    width: 200px;
    border-radius: 10px;
}
#imageManager div button:hover{
    background: #101014;
    color: red;
}
#imageManager img{
    aspect-ratio: 16/9;
    max-width: 200px;
    margin: 10px;
    cursor: url('/billing/public/images/plus_cursor.png') 25 25, auto;
}

form label {
    background-color: #1e1f26;
    color: #cc37c0;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 10px;
}
form label:hover{
    background-color: #141419;
}

form input[type="file"]{
    display: none;
    position: absolute;
    top: 0;
}

@media screen and (max-width: 600px) {
  main {
    margin-left: 0.5rem;
    overflow-y: auto;
    display: block;
  }
  form #subject {
    width: 200px;
  }
  form #email {
    width: 200px;
  }
  form {
    margin-bottom: 100px;
  }
  #content .ql-editor {
    height: 100px !important;
    margin-bottom: 100px;
  }
  #submitWrapper {
    justify-content: start;
  }
  #submitWrapper > * {
    margin-top: 10px;
  }
}
