:root {
    font-size: 16px;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  }
  * {
    box-sizing: border-box;
  }
  html {
    background-color: var(--main-bg);
  }
  body {
    overflow-x: hidden;
    height: auto;
    overflow-y: auto;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
  }
  main {
    margin: 3rem 0 0 7rem;
    display: grid;
    height: 100%;
  }
  main > div{
      width: 90%;
  }

  main > div > div{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-bottom: 20px;
}

#editTicket{
    display: flex;
    flex-flow: row wrap;
}

#editTicket > fieldset{
    display: flex;
    flex-flow: row nowrap;
}

#editTicket label{
    color: white;
    background-color: transparent;
    cursor: default;
    padding-inline: 0;
}
#editTicket select{
    background-color: #141419;
    color: white;
    outline: none;
    border: none;
    margin: 5px 10px 5px 0;
    padding: 5px;
}

#editTicket select:disabled{
    color: gray;
}
h2{
    color: white;
}
main > div > div > h1 {
    background: -webkit-linear-gradient(-200deg, #cc37c0 25%, #e6b530);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    word-break: break-word;
}
main > div > hr {
    border: none;
    height: 2px;
    background-color: #3e404f;
    margin: none !important;
  }
main > form > fieldset {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin-bottom: 10px;
    border: none;
    width: auto;
  }
  main > div > form > fieldset{
      border: none;
  }
main form fieldset > div:not(#editor, .ql-toolbar, .editorWrapper, .top){
    display: flex;
    flex-flow: row nowrap;
    width: 75vw;
  }
  .editorWrapper{
      width: 100%;
      min-width: unset;
      margin-right: none !important;
  }

  form #subject {
    color: #dce0ff;
    background-color: #141419;
    padding: 5px 10px;
    margin-top: 0;
    border: none;
    margin: 5px 10px 5px 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 300px;
    padding: 5px;
    font-size: 0.9rem;
  }
  form select{
      background-color: #141419;
      color: white;
      outline: none;
      border: none;
      margin: 5px 10px 5px 0;
      padding: 5px;
  }
#editor{
    border: none;
    overflow-y: auto;
    max-height: 300px;
}
form label{
    background-color: #1e1f26;
    color: #cc37c0;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
}

form label:hover{
    background-color: #141419;
}

.screenshotsWrapper{
    display: flex;
    flex-flow: row wrap;
    align-items:baseline;
    padding: 0 0 0 10px;
}

.screenshotsWrapper p{
    color: white;
}

form input[type="file"]{
    display: none;
    position: absolute;
    top: 0;
}

.highlightButton{
    background-color: #cc37c0 !important;
    color: #1e1f26 !important;
    padding: 10px;
    cursor: pointer;
    margin-inline: 10px;
    width: 165px;
    outline: none;
    border: none;
    font-weight: bold;
}

form #submitWrapper button{
    background-color: #1e1f26;
    color: #cc37c0;
    padding: 10px;
    cursor: pointer;
    margin-inline: 10px;
    width: 165px;
    outline: none;
    border: none;

}

.highlightButton:hover{
    background-color: #141419 !important;
    color: #cc37c0 !important;
}

.message{
    border: none !important; 
    color: white !important;
}

form #submitWrapper button:hover{
    background-color: #141419;

}

.title{
    display: flex;
    background-color:#141419;
    width: 100% !important;
    height: auto !important;
    flex-flow: row nowrap;
    padding: 5px;
    margin-top: 20px;
}
.title *{
    margin-right: 20px;
}
.title img{
    background-image: -webkit-linear-gradient(-200deg, #cc37c0 25%, #e6b530);
    padding: 10px;
    border-radius: 50%;
}
.title div{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.title p{
    margin: 0;
    color: white;
}

.title .role{
    color: gray;
    font-size: 0.9rem;
}

#submitWrapper{
    display: flex;
    justify-content: end;
    flex-flow: row wrap;
}

#errorText{
    color: red;
}

.ql-toolbar .ql-stroke {
    fill: none !important;
    stroke: #fff !important;
}
.ql-toolbar button:hover .ql-stroke, .ql-toolbar button:hover .ql-fill {
    fill: none !important;
    stroke: #cc37c0 !important;
}
.ql-toolbar .ql-fill {
    fill: #fff !important;
    stroke: none !important;
}
.ql-toolbar .ql-active .ql-stroke, .ql-toolbar .ql-active .ql-fill{
    fill:none !important;
    stroke: #e6b530 !important;
}
.ql-toolbar{
    background-color:#141419;
    border: none !important;
}
.ql-editor{
    background-color: #1e1f26;
    color: white;
    border: none;
    outline: none;
    min-height: 300px;
    word-break: break-word;
}
.ql-toolbar .ql-picker {
    color: rgb(255, 255, 255) !important;
    outline: none !important;
    border: none !important;
}
.ql-picker-options{
    background-color: #141419 !important;
    border: none !important;
}
.ql-expanded .ql-picker {
    color: rgb(235, 90, 90) !important;
}

.opened hr{
    border: none;
    height: 2px;
    background-color: #3e404f;
    margin: none !important;
    overflow: visible;
    text-align: center;
    margin-bottom: 40px;
}
.opened hr:after {
    content: 'Ticket Information';
    background-color: #292a34;
    padding: 10px;
    position: relative;
    top: -9px;
    border-radius: 5px;
    color: white;
    border: #3e404f 2px solid;
}
.important{
        background-color: #cc37c0 !important;
        color: #1e1f26 !important;
        font-weight: bold;
}
.important:hover{
    background-color: #141419 !important;
    color: #cc37c0 !important;
    font-weight: bold;
}
.ticketInfo{
    display: flex;
    flex-flow: row wrap;
}
.ticketInfo *{
    color: gray;
    margin-inline: 10px;
}
.hidden{
    visibility: hidden;
    position: absolute;
}
#logs{
    border: none;
    height: 2px;
    background-color: #3e404f;
    margin: 40px 0 60px 0 !important;
    overflow: visible;
    text-align: center;
}
#logs:after {
    content: 'Messages';
    background-color: #292a34;
    padding: 10px;
    position: relative;
    top: -8px;
    border-radius: 5px;
    color: white;
    border: #3e404f 2px solid;
}
#content{
    height: 100px !important;
    border: none;
}
#content .ql-editor{
    height: 100px !important;
}
.opened > p{
    margin-top: 25px;
    color: gray;
}
.ticketClosed{
    background: red;
    color: white;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0;
    text-align: center;
    padding: 4px;
}
.messageContent{
    background-color:#1e1f26;
    height: auto;
    display: block;
    margin-bottom: 40px;
}

.noMessages{
    text-align: center;
    color: gray;
    margin: 0;
}

.pageButtons{
    display: flex;
    justify-content: end;
    margin: 20px 0 20px 0;
}

.pageButtons > *{
    padding: 10px;
    color: #cc37c0;
    outline: none;
    border: none;
    background-color:#1e1f26;
    margin-inline: 2px;
    cursor: pointer;
}

.pageButtons > *:disabled{
    color: #292a34;
    background-color:#141419;
    cursor: default;
}
.pageButtons > *:disabled:hover{
    color: #292a34;
    background-color:#141419;
}

.dateCreated{
    margin-top: 8px !important;
    color: gray !important;
}

.pageButtons > *:hover{
    color: #141419;
    background-color:#cc37c0;
}
#email{
    color: #dce0ff;
    background-color: #141419;
    padding: 5px 10px;
    margin-top: 0;
    border: none;
    margin: 5px 10px 5px 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 300px;
    padding: 5px;
    font-size: 0.9rem;
}
#successText{
    color: greenyellow;
    
}

form input[type="submit"]{
    background-color: #1e1f26;
    color: #cc37c0;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
    width: 165px;
    outline: none;
    border: none;

}

form input[type="submit"]:hover{
    background-color: #141419;
}

@media screen and (max-width:600px){
    main{
        margin-left: 0.5rem;
        overflow-y: auto;
        display: block;
    }
    form #subject {
        width: 200px;
        padding: 5px;
        font-size: 0.9rem;
      }
    form{
        margin-bottom: 100px;
    }
    #content .ql-editor{
        height: 100px !important;
        margin-bottom: 100px;
    }
    #submitWrapper{
        justify-content: start;
    }
    #submitWrapper > *{
        margin-top: 10px;
    }
}