.navbar {
  position: fixed;
  left: 0;
  background: var(--nav-bg-primary);
  transition: width 600ms ease;
  overflow: hidden;
  border-right: var(--nav-border);
  z-index: 10;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item a {
  cursor: pointer;
}

.nav-item:nth-child(6) {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--nav-text);
  text-decoration: none;
  filter: var(--nav-filter);
  transition: var(--nav-transition-speed);
  width: 100%;
}

.nav-link:hover {
  filter: var(--nav-filter-hover);
  background: var(--nav-bg-secondary);
  color: var(--nav-text-hover);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link i {
  font-size: 1.5rem;
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
  color: var(--nav-icon);
}

.nav-link span {
  font-size: 0.9rem;
  white-space: nowrap;
}

.header span {
  font-size: 1.5rem;
}

.header {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--nav-bg-header);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header i {
  color: var(--nav-header-arrow);
  transform: rotate(0deg);
  transition: var(--nav-transition-speed);
}

.header-text {
  background: var(--nav-header-text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--nav-transition-speed);
}

.navbar:hover .header i {
  color: var(--nav-header-arrow-hover);
  transform: rotate(-180deg);
  transition: var(--nav-transition-speed);
}

/* Small screens */

@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    overflow-y: hidden;
    overflow-x: auto;
    border-top: var(--nav-border);
  }
  .header {
    display: none;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .nav-link {
    justify-content: center;
  }
  #register-button {
    margin-bottom: 150px;
  }
}

/* Large screens */

@media only screen and (min-width: 601px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100%;
    overflow-x: hidden;
  }
  .navbar:hover {
    width: 16rem;
    overflow-y: auto;
  }
  .navbar:hover .link-text {
    display: inline;
  }
  .navbar:hover .header i {
    margin-left: 11rem;
  }
  .navbar:hover .header-text {
    background: var(--nav-header-text-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: -5px;
  }
}
