main {
  margin: 3rem 0 0 7rem;
  display: grid;
  grid-template-columns: 95%;
  grid-template-rows: auto;
  justify-content: space-between;
  height: 100%;
}

.center{
  text-align: center;
  margin-inline: auto;
}

.worldMap {
  width: 100%;
  margin-inline: auto;
  margin-top: 100px;
  position: relative;
}
.worldMap svg {
  font-size: 1.75vw;
  color: white;
  text-align: center;
}
.worldMap img {
  pointer-events: none;
  user-select: none;
}
.worldMap svg:hover,
.worldMap svg:focus-visible {
  color: #e2c5fd;
}
.poi {
  position: absolute;
}
.poi.FL {
  top: 11%;
  left: 50.45%;
}
.poi.GE {
  top: 18%;
  left: 47.95%;
}
#map-buttons-wrapper {
  display: flex;
  flex-flow: row wrap;
  border-radius: 10px;
  margin-inline: auto;
  width: fit-content;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#map-buttons-wrapper > div {
  border: 2px solid #3e404f;
  min-width: fit-content;
  padding: 5px;
  border-radius: 15px;
  display: flex;
  flex-flow: row nowrap;
}
#map-buttons-wrapper button{
  width: 140px;
  border-radius: 0;
  text-align: left;
  display: grid;
  place-items: center;
  padding: 0;
}
#map-buttons-wrapper button:first-of-type{
  border-top-left-radius : 10px;
  border-bottom-left-radius: 10px;
}
#map-buttons-wrapper button:last-of-type{
  border-top-right-radius : 10px;
  border-bottom-right-radius: 10px;
}
#map-buttons-wrapper button:hover{
  background-color: #1a1a21;
}
#map-buttons-wrapper button h2{
  color: #cc37c0;
  margin-bottom:0;
}
#map-buttons-wrapper button p{
  color: gray;
  margin-top:0px;
  font-weight: 600;
}

@media screen and (max-width: 1000px) {
  main {
    grid-template-areas: "main";
    grid-template-columns: 95%;
  }
  .cardWrapper {
    grid-template-columns: 240px auto;
  }
}
@media screen and (max-width: 600px) {
  main {
    margin: 3rem 0 0 1rem;
  }
}
@media screen and (max-width: 427px) {
      body{
        margin: 0;
    }
  }