body > aside{
    position: fixed;
    height: 100%;
    width: 280px;
    right: 0;
    top: 0;
    background-color: #1e1f26;
}
body > aside > div{
    margin: 1rem;
}
body > aside > div > h3{
    background: -webkit-linear-gradient(-200deg, #cc37c0 25%, #e6b530);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
#login-error{
    color:#fff;
}
#authentication{
    transition: 600ms ease;
    right: -280px;
    overflow-y: auto;
}
#authentication fieldset{
    border: none;
    padding: 0 !important;
}

#authentication fieldset div{
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    margin-top: 10px;
}
#authentication #login fieldset div:nth-of-type(3){
    flex-flow: row nowrap;
}
.authIcon{
    position: relative;
    width: auto;
    padding-inline: 10px;
    background-color: #141419;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #dce0ff;
}

#authentication input[type="email"], #authentication input[type="password"], #authentication input[type="submit"], #authentication input[type="text"]{
    background-color: #141419;
    width: 100%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #e6b530;
    border: none;
    outline: none;
    height: 36px;
}
#authentication input[type="submit"]:hover{
    cursor: pointer;
    background-color: #17171d;
    color: #cc37c0;
}
#authentication input[type="email"]::placeholder, #authentication input[type="password"]::placeholder, #authentication input[type="text"]::placeholder{
    color: #dce0ff;
}
#authentication input[type="email"]:focus::placeholder, #authentication input[type="password"]:focus::placeholder, #authentication input[type="text"]:focus::placeholder{
    color: #cc37c0;
}
#authentication input[type="email"]:focus, #authentication input[type="password"]:focus, #authentication input[type="text"]:focus{
    color: #cc37c0;
}
#authentication input[type="email"]:focus ~ .authIcon, #authentication input[type="password"]:focus ~  .authIcon, #authentication input[type="text"]:focus ~  .authIcon{
    color: #cc37c0;
}
#authentication input[type="checkbox"]{
    visibility: hidden;
    position: absolute;
}
#authentication #login-rememberSessionButton{
    width: 36px;
    height: 36px;
    background-color: #141419;
    cursor: pointer;
    margin-right: 5%;
}
#authentication #login-rememberSessionButton:hover{
    background-color: #17171d;
}
#authentication #login-rememberSessionButton:hover i{
    color: #17171d !important;
}
#authentication #login-rememberSessionButton i{
    color: #141419 !important;
}
#authentication input[type="checkbox"]:checked ~ #login-rememberSessionButton{
    width: 36px;
    height: 36px;
    padding: 5px;
    padding-left: 6px;
    background-color: #e6b530;
    border: 4px solid #141419;
    cursor: pointer;
}
#authentication input[type="checkbox"]:checked ~ #login-rememberSessionButton:hover{
    background-color: #cc37c0;
}
#authentication #login-rememberSessionLabel{
    color: #dce0ff;
}
#switchLine{
    border: none;
    background: #292a34;
    height: 2px;
    margin-top: 20px;
}
#switchPrompt{
    color: #dce0ff;
}
#switchAuth{
    background-color: transparent;
    border: none;
    color: #e6b530;
    text-align: center;
    font-size: 1.1rem;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
    margin-bottom: 100px;
}
#switchAuth:hover{
    color: #cc37c0;
}
#authentication .hide{
    display: none;
}
#authentication #register{
    overflow-y: auto !important;
    margin-bottom: 0;
}
#authentication #register p{
    color: #dce0ff;
}
#authentication #register p a{
    color: #e6b530;
}
#authentication #register p a:hover{
    color: #cc37c0;
}
.g-recaptcha{
    justify-content: center;
}
.shown{
    right: 0px !important;
    transition: 600ms ease;
}
.popup{
    margin: 0 !important;
    position: relative;
    display: inline-block;
    z-index: 1;
}
.popup .popupText {
    visibility: hidden;
    width: 120px;
    background-color: #333541;
    color: #dce0ff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    left: 110%;
    position: absolute;
  }
.popup:hover .popupText {
    visibility: visible;
  }
.popup .popupText::before {
    content: " ";
    position: absolute;
    top: 43%;
    right: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #333541 transparent transparent;
    z-index: -1;
  }
#register-password:focus span{
    background-color: white;
    height: 10px !important;
    width: 25% !important;
    margin-inline: 2%;
}

#announcements{
    width: 400px;
    height: 400px;
    position: fixed;
    bottom: -400px;
    right: 300px;
    background-color: #1e1f26;
    transition: 600ms ease;
}
.showAnnouncements{
    bottom: 0px !important;
    transition: 600ms ease;
}

#announcements #header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #141419;
}

#announcements h3{
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    background: -webkit-linear-gradient(-200deg, #cc37c0 25%, #e6b530);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
}
#announcements a i{
    padding: 10px;
    background: -webkit-linear-gradient(-200deg, #cc37c0 25%, #e6b530);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}
#announcements a:hover i{
    color: #fff !important;
    background: transparent !important;
    background-clip:initial;
    -webkit-background-clip:initial;
    -webkit-text-fill-color:initial;
}
#announcementsWrapper{
    height: 355px;
    overflow-y: auto;
}
#announcementsWrapper > div{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 3px;
    padding-inline: 10px;
    color: white;
    margin-inline: 3px;
    filter: brightness(0.9);
}
#announcementsWrapper > div:hover{
    filter: brightness(1);
}
#announcementsWrapper .news{
    background-color: rgba(87, 255, 84, 0.4);
    border-left: 3px solid rgba(87, 255, 84, 1);
}
#announcementsWrapper .outage{
    background-color: rgba(255, 84, 84, 0.4);
    border-left: 3px solid rgba(255, 84, 84, 1);
}
#announcementsWrapper .warning{
    background-color: rgba(255, 252, 84, 0.4);
    border-left: 3px solid rgba(255, 252, 84, 1);
}

#supportPopup{
    position: fixed;
    right: -280px;
    width: 280px;
    height: 100vh;
    top: 0;
    transition: 600ms ease;
    overflow-y: auto;
}

#supportPopup a{
    width: 100%;
    height: 200px;
    display: grid;
    place-items: center;
    text-decoration: none;
}

#supportPopup a:hover{
    background-color: #141419;
}

#supportPopup a div {
    width: 100%;
    text-align: center;
    background: -webkit-linear-gradient(-200deg, #cc37c0 20%, #e6b530);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#supportPopup a i{
    font-size: 2rem;
}

@media screen and (max-width:780px) {
    #announcements{
        right: 0;
        z-index: 5;
    }
}
@media screen and (max-width:600px) {
    #announcements{
        bottom: -400px;
        width: 280px;
    }
    .showAnnouncements{
        bottom: 80px !important;
    }
}
@media screen and (max-width:400px) {
    #announcements{
        left: 0px;
        width: 100%;
        height: 100vh;
        bottom: -100vh;
    }
    .showAnnouncements{
        bottom: 0px !important;
    }
}