main {
  margin: 3rem 0 0 7rem;
  display: grid;
  height: 100%;
}
main > div {
  width: 95%;
}

main > div > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin-bottom: 20px;
}

#deleteTicket{
  color: red;
}

#editTicket {
  display: flex;
  flex-flow: row wrap;
}

#editTicket > fieldset {
  display: flex;
  flex-flow: row nowrap;
}

#editTicket label {
  color: white;
  background-color: transparent;
  cursor: default;
  padding-inline: 0;
}
#editTicket select {
  background-color: #141419;
  color: white;
  outline: none;
  border: none;
  margin: 5px 10px 5px 0;
  padding: 10px 15px;
  border-radius: 10px;
}

#editTicket select:disabled {
  color: gray;
}

main > form > fieldset {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin-bottom: 10px;
  border: none;
  width: auto;
}
main > div > form > fieldset {
  border: none;
}
main form fieldset > div:not(#editor, .ql-toolbar, .editorWrapper, .top) {
  display: flex;
  flex-flow: row nowrap;
  width: 75vw;
}
.editorWrapper {
  width: 100%;
  min-width: unset;
  margin-right: none !important;
}

form #subject {
  color: #dce0ff;
  background-color: #141419;
  padding: 10px 15px;
  border: none;
  margin: 5px 10px 5px 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 300px;
  font-size: 0.9rem;
  border-radius: 10px;
}
form select {
  background-color: #141419;
  color: white;
  outline: none;
  border: none;
  margin: 5px 10px 5px 0;
  padding: 5px;
}
#editor {
  border: none;
  overflow-y: auto;
  max-height: 300px;
  border-radius: 0 0 10px 10px;
}
form label:not([for="askResponse"]) {
  background-color: #1e1f26;
  color: #cc37c0;
  padding: 10px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 10px;
}

form label:not([for="askResponse"]):hover {
  background-color: #141419;
}
.checkbox{
  margin-top: 0 !important;
  margin-right: auto;
}

.screenshotsWrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
}

.screenshotsWrapper p {
  color: white;
}
.screenshotsWrapper div {
  color: white;
}

form input[type="file"] {
  display: none;
  position: absolute;
  top: 0;
}

#imageManager {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  background: #1e1f26;
  border-radius: 10px;
}
.imageManager {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  width: 100%;
  background: #1e1f26;
  border-radius: 10px;
  margin-top: 10px;
}
#imageManager > div{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  align-items: center;
}
.imageManager > div{
  display: flex;
  align-items: center;
}
#imageManager > div > div, .imageManager > div > div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}
#imageManager div button {
  background: #141419;
  border: none;
  padding: 10px;
  color: red;
  cursor: pointer;
  width: 200px;
  border-radius: 10px;
}
#imageManager div button:hover {
  background: #101014;
  color: red;
}
#imageManager img, .imageManager img {
  aspect-ratio: 16/9;
  max-width: 200px;
  margin: 10px;
  cursor: url("/billing/public/images/plus_cursor.png") 25 25, auto;
}

form #submitWrapper button {
  padding: 10px;
  margin-inline: 10px;
  width: 165px;
}
form #submitWrapper button:hover {
  background-color: #18181f;
}

.highlightButton {
  color: #cc37c0 !important;
}

.message {
  border: none !important;
  color: white !important;
}

.title {
  display: flex;
  background-color: #141419;
  width: 100% !important;
  height: auto !important;
  flex-flow: row nowrap;
  padding: 5px;
  margin-top: 20px;
  border-radius: 10px 10px 0 0;
}
.title * {
  margin-right: 20px;
}
.title img {
  padding: 10px;
  border-radius: 50%;
}
.title img.user{
  background-image: -webkit-linear-gradient(-200deg, #cc37c0 25%, #e6b530);
}
.title img.staff{
  background-image: -webkit-linear-gradient(-200deg, #e69130 25%, #e6b530);
}
.title div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.title p {
  margin: 0;
  color: white;
}

.title .role {
  color: gray;
  font-size: 0.9rem;
}
.title div.buttons{
  margin-inline: auto 0;
  display: flex;
  flex-flow: row nowrap;
}
.title div.buttons button{
  padding: 10px;
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 10px 0 0;
}
.title div.buttons button.edit{
  color:#3e404f;
}
.title div.buttons button.delete{
  color:#cc3737;
}
.title div.buttons button.save{
  color:#cc37c0;
}
.title div.buttons button:hover{
  color: #dce0ff;
}
.title div.buttons button svg{
  margin: 0;
}

#submitWrapper {
  display: flex;
  justify-content: end;
  flex-flow: row wrap;
}

#errorText {
  color: red;
}

.ql-editor{
  border-radius: 0 0 10px 10px;
}

#ticketCreate .ql-toolbar{
  border-radius: 10px 10px 0 0;
}

.ql-toolbar .ql-stroke {
  fill: none !important;
  stroke: #fff !important;
}
.ql-toolbar button:hover .ql-stroke,
.ql-toolbar button:hover .ql-fill {
  fill: none !important;
  stroke: #cc37c0 !important;
}
.ql-toolbar .ql-fill {
  fill: #fff !important;
  stroke: none !important;
}
.ql-toolbar .ql-active .ql-stroke,
.ql-toolbar .ql-active .ql-fill {
  fill: none !important;
  stroke: #e6b530 !important;
}
.ql-toolbar {
  background-color: #141419;
  border: none !important;
}
.ql-editor {
  background-color: #1e1f26;
  color: white;
  border: none;
  outline: none;
  min-height: 300px;
  word-break: break-word;
}
.ql-toolbar .ql-picker {
  color: rgb(255, 255, 255) !important;
  outline: none !important;
  border: none !important;
}
.ql-picker-options {
  background-color: #141419 !important;
  border: none !important;
}
.ql-expanded .ql-picker {
  color: rgb(235, 90, 90) !important;
}

.opened hr {
  border: none;
  height: 2px;
  background-color: #3e404f;
  margin: none !important;
  overflow: visible;
  text-align: center;
  margin-bottom: 40px;
}
.opened hr:after {
  content: "Ticket Information";
  background-color: #292a34;
  padding: 10px;
  position: relative;
  top: -9px;
  border-radius: 5px;
  color: white;
  border: #3e404f 2px solid;
}
.ticketInfo {
  display: flex;
  flex-flow: row wrap;
}
.ticketInfo * {
  color: gray;
  margin-inline: 10px;
}
.hidden {
  visibility: hidden;
  position: absolute;
}
#logs {
  border: none;
  height: 2px;
  background-color: #3e404f;
  margin: 40px 0 60px 0 !important;
  overflow: visible;
  text-align: center;
}
#logs:after {
  content: "Messages";
  background-color: #292a34;
  padding: 10px;
  position: relative;
  top: -8px;
  border-radius: 5px;
  color: white;
  border: #3e404f 2px solid;
}
#content {
  height: 100px !important;
  border: none;
}
#content .ql-editor {
  height: 100px !important;
}
.opened > p {
  margin-top: 25px;
  color: gray;
}
.ticketClosed {
  background: red;
  color: white;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 0;
  text-align: center;
  padding: 4px;
}
.messageContent {
  background-color: #1e1f26;
  height: auto;
  display: block;
  margin-bottom: 40px;
}

.noMessages {
  text-align: center;
  color: gray;
  margin: 0;
}

.pageButtons {
  display: flex;
  justify-content: end;
  margin: 20px 0 20px 0;
}
.pageButtons button:disabled{
  color: #292a34;
  background-color: #141419;
  cursor: default;
}
.pageButtons button{
  float: right;
  padding: 10px;
  border: none;
  color: #dce0ff;
  background-color: #141419;
  cursor: pointer;
}
.pageButtons button:not(:disabled):hover{
  color: #cc37c0;
  background-color: #1e1f26;
}
.pageButtons button:first-of-type{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.pageButtons button:last-of-type{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dateCreated {
  margin-top: 8px !important;
  margin-right: 10px !important;
  color: gray !important;
}

.dateEdited {
  margin-top: 8px !important;
  color: gray !important;
}

@media screen and (max-width: 600px) {
  main {
    margin-left: 0.5rem;
    overflow-y: auto;
    display: block;
  }
  form #subject {
    width: 200px;
    padding: 5px;
    font-size: 0.9rem;
  }
  form {
    margin-bottom: 100px;
  }
  #imageManagerInitial {
    margin-bottom: 100px;
  }
  #submitWrapper {
    justify-content: start;
  }
  #submitWrapper > * {
    margin-top: 10px;
  }
}
