main {
  margin: 3rem 0 0 7rem;
  display: grid;
  height: 100%;
}
main > div{
    width: 95%;
}
main > div > div{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-bottom: 20px;
}
main > div > div button{
    padding: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 0.95rem;
}
main > div > div button:disabled{
    opacity: 0.5;
    cursor:default;
}
#ticketWrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    margin-bottom: 120px;
}
#ticketWrapper a{
    background-color: #1e1f26;
    color: white;
    width: 250px;
    height: 350px;
    text-align: center;
    text-decoration: none;
    margin-right: 25px;
    margin-bottom: 20px;
    margin-top: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#ticketWrapper a > h2{
    font-size: 1.2rem;
}
#ticketWrapper a h3{
    word-break: break-word;
    height: 110px;
    overflow: hidden;
}
#ticketWrapper a h3 abbr{
    text-decoration: none;
}
#ticketWrapper a > div{
    margin-top: 25px;
    text-align: left;
    width: 100%;
    padding: 10px;
}
#ticketWrapper p span{
    color: gray;
}
#ticketWrapper footer{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#ticketWrapper .answered{
    background-color: rgb(131, 194, 36);
}
#ticketWrapper .awaitingStaff{
    background-color: rgb(36, 136, 194);
}
#ticketWrapper .awaitingClient{
    background-color: rgb(184, 194, 36);
}
#ticketWrapper .closed{
    background-color: rgb(194, 36, 36);
}
#ticketWrapper footer > *{
    margin-inline: 2px;
}

.pageButtons{
    width: 95%;
    margin-top: 5px;
  }
  .pageButtons button:disabled{
    color: #292a34;
    background-color: #141419;
    cursor: default;
  }
  .pageButtons button{
    float: right;
    padding: 10px;
    border: none;
    color: #dce0ff;
    background-color: #141419;
    cursor: pointer;
  }
  .pageButtons button:not(:disabled):hover{
    color: #cc37c0;
    background-color: #1e1f26;
  }
  .pageButtons button:first-of-type{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .pageButtons button:last-of-type{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

@media screen and (max-width:600px){
    main{
        margin-left: 0.5rem;
        overflow-y: auto;
        display: block;
    }
    main div{
        width: 98%;
    }
    form #subject {
        width: 200px;
        padding: 5px;
        font-size: 0.9rem;
      }
    form{
        margin-bottom: 100px;
    }
    #content .ql-editor{
        height: 100px !important;
        margin-bottom: 100px;
    }
}