:root {
  font-size: 16px;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
html {
  background-color: var(--main-bg);
}
body {
  overflow-x: hidden;
  height: auto;
  overflow-y: auto;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
}
main {
  margin: 3rem 0 0 7rem;
  display: grid;
  height: 100%;
}
main > div{
    width: 90%;
}
main > div > div{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-bottom: 20px;
}
main > div > div span{
    background: #1e1f26;
}
main > div > div > span:hover{
    background: #141419;
}
main > div > div button{
    background: -webkit-linear-gradient(-200deg, #cc37c0 25%, #e6b530);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 0.95rem;
}
main > div > div button:disabled{
    background: -webkit-linear-gradient(-200deg, #cc37c0 25%, #e6b530);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.5;
    cursor:default;
}
main h1 {
  background: -webkit-linear-gradient(-200deg, #cc37c0 25%, #e6b530);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main h2 {
  color: #dce0ff;
}
main hr {
  border: none;
  height: 2px;
  background-color: #3e404f;
  margin: none !important;
}
#ticketWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: left;
}
#ticketWrapper a{
    background-color: #1e1f26;
    color: white;
    width: 250px;
    height: 350px;
    text-align: center;
    text-decoration: none;
    margin-right: 25px;
    margin-bottom: 40px;
}
#ticketWrapper a > h2{
    font-size: 1.2rem;
    background: -webkit-linear-gradient(-200deg, #cc37c0 25%, #e6b530);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#ticketWrapper a h3{
    word-break: break-word;
    height: 110px;
    overflow: hidden;
}
#ticketWrapper a h3 abbr{
    text-decoration: none;
}
#ticketWrapper a > div{
    margin-top: 25px;
    text-align: left;
    width: 100%;
    padding: 10px;
}
#ticketWrapper p span{
    color: gray;
}
#ticketWrapper footer{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
#ticketWrapper .answered{
    background-color: rgb(131, 194, 36);
}
#ticketWrapper .awaitingStaff{
    background-color: rgb(36, 136, 194);
}
#ticketWrapper .awaitingClient{
    background-color: rgb(184, 194, 36);
}
#ticketWrapper .closed{
    background-color: rgb(194, 36, 36);
}
#ticketWrapper footer > *{
    margin-inline: 2px;
}

@media screen and (max-width:600px){
    main{
        margin-left: 0.5rem;
        overflow-y: auto;
        display: block;
    }
    form #subject {
        width: 200px;
        padding: 5px;
        font-size: 0.9rem;
      }
    form{
        margin-bottom: 100px;
    }
    #content .ql-editor{
        height: 100px !important;
        margin-bottom: 100px;
    }
}