<html lang="en">

<head>
    <title>Affordable Minecraft hosting | Amethyst.host</title>
    <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous" media="">
        <noscript><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"></noscript>
        <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="https://unpkg.com/flickity@2.2.2/dist/flickity.css" media="screen">
    <noscript><link rel="stylesheet" href="https://unpkg.com/flickity@2.2.2/dist/flickity.css"></noscript>
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <meta charset="UTF-8">
    <meta name="title" content="Amethyst Host">
    <meta name="description"
        content="We provide affordable, high quality hosting solutions for even the biggest Minecraft servers. Starting at €0.80/GB of RAM.">
    <meta name="keywords" content="Amethyst, Hosting, Minecraft, Cheap, Quality, Server">
    <meta name="author" content="Richard 'Em1t' Marcinčák">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav id="navbar">
        <a href="#" aria-label="Home"><img src="../images/ACLogoT.png" aria-hidden="true" aria-label="Logo of amethyst.host"
                alt="" id="logo">
            <p>Amethyst.host</p>
        </a>
        <div class="text">
            <div class="dropdown">
                <button class="dropbtn"><span class="textContent">Pricing</span><span class="iconContent"><i
                            class="fa fa-tags"
                            aria-label="Dropdown menu of our pricing for our products"></i></span></button>
                <div class="dropdown-content">
                    <a href="#">Minecraft</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn"><span class="textContent">Support</span><span class="iconContent"><i
                            class="fa fa-question-circle"
                            aria-label="Dropdown menu of our support options"></i></span></button>
                <div class="dropdown-content">
                    <a href="#">Create a ticket</a>
                    <a href="#">Join our Discord</a>
                    <a href="#">Write an E-Mail</a>
                    <a href="#">Knowledgebase</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn"><span class="textContent">More</span><span class="iconContent"><i
                            class="fa fa-plus-circle"
                            aria-label="Navigation, more dropdown menu"></i></span></button>
                <div class="dropdown-content" id="support">
                    <a href="#">About</a>
                    <a href="../html/partners.html">Partners</a>
                    <a href="#">Forum</a>
                </div>
            </div>
        </div>
        <a href="#" id="client-area"><span class="textContent"><b>Client Area</b></span><span class="iconContent"><i
                    class="fa fa-user" aria-label="Client Area button"></i></span></a>
    </nav>
    <header>
        <div class="gallery"
            data-flickity='{ "wrapAround": true, "autoPlay": 5000, "lazyLoad": 1, "prevNextButtons": false }'>
            <div class="gallery-cell">
                <div>
                    <h2 class="heading">About Us</h2>
                    <h3 class="subheading">Learn more about who we are</h3>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div>
            <h3><b>The journey begins</b></h3>
            <hr>
        </div>
        <p>- <b>23rd March 2021</b> I (Em1t) got an idea to make a host. There was way too much planning ahead, so I started gathering friends that would like to help me with my idea.<br>
        - <b>26th March 2021</b> Discord server created. B1tt and my brother joined.<br>
        - <b>27th March 2021</b> Em1t started working on the website. B1tt started planning back-end.<br>
        - <b>30th March 2021</b> Website was finished, but I decided to create a new version, as this version was not scalable.<br>
        - <b>19th April 2021</b> We nearly made business with a node provider, but we ran background checks and decided not to go with them afterall, due to the practices they used being shady.<br>
        - <b>22nd April 2021</b> B1tt decided to rewrite the back-end to a modular back-end.<br>
        - <b>1st March 2021</b> The main landing page was finally finished, after 3 versions that were discarded</p>
        <div>
            <h3><b>Meet the staff team</b></h3>
            <hr>
        </div>
        <ul>
            <li><b>Em1t</b> - Owner</li>
            <li><b>Kopolomo03</b> - Co-Owner</li>
            <li><b>B1tt</b> - Main Developer</li>
            <li><b>Succ Nugget</b> - GFX Artist, Finance & Emotional Support (thanks)</li>
            <li><b>FrogDJ</b> - Developer</li>
            <li><b>Sellion</b> - Level 4 Support</li>
            <li><b>MindTacky</b> - Level 3 Support</li>
            <li><b>Boomy</b> - Partner Manager</li>
        </ul>
    </main>
    <footer>
        <div class="copyrightParent">
            <p class="copyright">© Amethyst.host, All rights reserved</p>´
        </div>
        <div class="legalParent">
            <a href="#" class="legal">Privacy Policy</a>
            <a href="#" class="legal">Terms & Conditions</a>
            <a href="#" class="legal">SLA</a>
        </div>
    </footer>
    <!--FLICKITY-->
    <script>
        document.addEventListener("scroll", () => {
            if (document.body.scrollTop > 0) {
                document.getElementById("navbar").style = "background-color:rgba(30, 30, 36, 0.98);"
            } else if (document.body.scrollTop == 0 && document.body.clientWidth > 460) {
                document.getElementById("navbar").style = "background-color:rgba(36, 36, 44, 0);";
            }
        });
    </script>
    <script defer src="https://unpkg.com/flickity@2.2.2/dist/flickity.pkgd.min.js"></script>
</body>

</html>