<html lang="en">

<head>
    <title>Affordable Minecraft hosting | Amethyst.host</title>
    <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous" media="">
        <noscript><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"></noscript>
        <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="https://unpkg.com/flickity@2.2.2/dist/flickity.css" media="screen">
    <noscript><link rel="stylesheet" href="https://unpkg.com/flickity@2.2.2/dist/flickity.css"></noscript>
    <link rel="stylesheet" href="../css/partners.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <meta charset="UTF-8">
    <meta name="title" content="Amethyst Host">
    <meta name="description"
        content="We provide affordable, high quality hosting solutions for even the biggest Minecraft servers. Starting at €0.80/GB of RAM.">
    <meta name="keywords" content="Amethyst, Hosting, Minecraft, Cheap, Quality, Server">
    <meta name="author" content="Richard 'Em1t' Marcinčák">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav id="navbar">
        <a href="#" aria-label="Home"><img src="../images/ACLogoT.png" aria-hidden="true" aria-label="Logo of amethyst.host"
                alt="" id="logo">
            <p>Amethyst.host</p>
        </a>
        <div class="text">
            <div class="dropdown">
                <button class="dropbtn"><span class="textContent">Pricing</span><span class="iconContent"><i
                            class="fa fa-tags"
                            aria-label="Dropdown menu of our pricing for our products"></i></span></button>
                <div class="dropdown-content">
                    <a href="#">Minecraft</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn"><span class="textContent">Support</span><span class="iconContent"><i
                            class="fa fa-question-circle"
                            aria-label="Dropdown menu of our support options"></i></span></button>
                <div class="dropdown-content">
                    <a href="#">Create a ticket</a>
                    <a href="#">Join our Discord</a>
                    <a href="#">Write an E-Mail</a>
                    <a href="#">Knowledgebase</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn"><span class="textContent">More</span><span class="iconContent"><i
                            class="fa fa-plus-circle"
                            aria-label="Navigation, more dropdown menu"></i></span></button>
                <div class="dropdown-content" id="support">
                    <a href="../html/about.html">About</a>
                    <a href="#">Partners</a>
                    <a href="#">Forum</a>
                </div>
            </div>
        </div>
        <a href="#" id="client-area"><span class="textContent"><b>Client Area</b></span><span class="iconContent"><i
                    class="fa fa-user" aria-label="Client Area button"></i></span></a>
    </nav>
    <header>
        <div class="gallery"
            data-flickity='{ "wrapAround": true,"autoPlay": 3000, "lazyLoad": 1, "prevNextButtons": false }'>
            <div class="gallery-cell">
                <div>
                    <h2 class="heading">Partners</h2>
                    <h3 class="subheading">We are proud to partner these people/organisations</h3>
                </div>
            </div>
            <div class="gallery-cell">
                <img class="image" src="https://cdn.discordapp.com/icons/833489565699932220/0843f0ba1dfd39318505bbbef7ad0d13.webp?size=512">
                <div>
                    <h2 class="heading">Divine Development</h2>
                    <h3 class="subheading">Minecraft plugins & configs</h3>
                    <a class="subheading-url" href="#">Join Discord</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div>
            <h3><b>Want to be here?</b></h3>
            <hr>
        </div>
        <p>Amethyst.host partners up with people who have growing potential. Are you a plugin developer, server owner, an influencer or anything in-between? In that case, you might be eligible for our partnership program!</p>
        <div>
            <h3><b>Conditions</b></h3>
            <hr>
        </div>
        <ul>
            <li><b>Health of partnership</b> - We reserve the right to remove you as a partner and remove all your services with a 7 day notice if you
             break the partnership terms (agreed upon individually) or break our terms & conditions / fair-use policy.</li>
            <li><b>Referred customers</b> - For the sake of our economy, we require that you refer people to our website. Referred customers must cover at least 50% of your total server's costs.
            If you fail to comply with this after a Month period, you will get a 7 day notice that your services are going to be downgraded or cancelled.</li>
        </ul>
        <div>
            <h3><b>Advantages</b></h3>
            <hr>
        </div>
        <ul>
            <li>Get your own coupon code</li>
            <li>Discount on services (up to 100%)</li>
            <li>Premium partner Discord role</li>
            <li>Appear on this site</li>
        </ul>
        <a href="mailto:support@amethyst.host?subject=Partnership Request&body=Hello, %0Amy name is _________ and I would like to partner with you. I am a ___________.%0A(Write more info below as to why we should accept you)" class="orderbutton">Apply Now</a>
    </main>
    <footer>
        <div class="copyrightParent">
            <p class="copyright">© Amethyst.host, All rights reserved</p>´
        </div>
        <div class="legalParent">
            <a href="#" class="legal">Privacy Policy</a>
            <a href="#" class="legal">Terms & Conditions</a>
            <a href="#" class="legal">SLA</a>
        </div>
    </footer>
    <!--FLICKITY-->
    <script>
        document.addEventListener("scroll", () => {
            if (document.body.scrollTop > 0) {
                document.getElementById("navbar").style = "background-color:rgba(30, 30, 36, 0.98);"
            } else if (document.body.scrollTop == 0 && document.body.clientWidth > 460) {
                document.getElementById("navbar").style = "background-color:rgba(36, 36, 44, 0);";
            }
        });
    </script>
    <script defer src="https://unpkg.com/flickity@2.2.2/dist/flickity.pkgd.min.js"></script>
</body>

</html>