@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    background: linear-gradient(90deg, rgba(94, 110, 255, 1), rgba(170, 106, 252, 1));
    background-position: 200% 200%;
    background-size: 400% 400%;
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 200px;
    animation: gradient 15s ease infinite;
    overflow: hidden;
}

.panel {
    background: linear-gradient(-45deg, rgba(94, 110, 255, 1), rgba(170, 106, 252, 1));
    padding: 50px;
    border-radius: 20px;
    filter: brightness(0.9);
}

.panel:hover {
    filter: brightness(1);
}

.navbar {
    font-size: 20px;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: inline-flex;
    justify-content: space-between;
    background-color: #181818;
    border-top: solid white 3px;
    padding: 0;
    z-index: 20;
}

.navbar div ul {
    list-style: none;
    width: 100%;
    padding: 0;
}

.navbar div ul li {
    display: inline;
    margin: 40px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar div ul li:not([class="panel"])::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all .5s cubic-bezier(1, .25, 0, .75);
    transition: all .5s cubic-bezier(1, .25, 0, .75);
}

.navbar div ul li:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.navbar div ul li:hover {
    cursor: pointer;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.dash {
    border-radius: 50%;
    background: linear-gradient(-45deg, rgba(94, 110, 255, 1) 0%, rgba(170, 106, 252, 1) 100%);
    -webkit-text-fill-color: white;
    color: white;
    filter: brightness(0.9);
}

.dash:hover {
    filter: brightness(1);
}

.navbar2 {
    font-size: 20px;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: #181818;
    border-top: solid white 3px;
    visibility: hidden;
    z-index: 20;
}

.navbar2 div ul {
    list-style: none;
    width: 100%;
    padding: 0;
}

.navbar2 div ul li {
    display: inline;
    position: relative;
    width: 100%;
}

.navbar2 div ul li i {
    padding-inline: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar2 div ul li:hover {
    cursor: pointer;
}

.logo {
    object-fit: contain;
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    position: absolute;
    left: 1%;
    top: 1%;
    z-index: -1;
}

.logo-background {
    position: absolute;
    width: 50%;
    height: 100%;
    min-height: 100px;
    right: 0px;
    background-color: #181818;
    z-index: -2;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

h1 {
    font-size: 100px;
    padding: 0px;
    margin: 0px;
}

p {
    font-size: 50px;
    padding: 0px;
    margin: 15px;
}

.heading {
    font-weight: bold;
    position: fixed;
    color: white;
    position: fixed;
    top: 45%;
    left: 45%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    font-size: 4rem;
    padding: 0px;
    margin: 0px;
}

h1::selection {
    background: #181818;
    color: white;
}
p::selection {
    background: #181818;
    color: white;
}

.icons {
    font-size: 30px;
}

@media only screen and (max-width: 950px) {
    .navbar div ul li {
        margin: 20px;
    }
    .logo-background {
        -webkit-clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}

@media only screen and (max-width: 725px) {
    .navbar2 {
        visibility: visible;
    }
    .navbar {
        visibility: hidden;
    }
    .logo-background {
        width:40%;
        -webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    .heading{
        top: 40%;
        left: 50%;
    }
    .heading h1 {
        font-size: 100px;
        padding: 0px;
        margin: 15px;
    }
    
    .heading p {
        font-size: 30px;
        padding: 0px;
        margin-top: 15px;
    }
}

@media only screen and (max-width: 500px) {
    .navbar2 div ul li i {
        padding-inline: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 440px) {
    .navbar2 div ul li i {
        padding-inline: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    h2 {
        font-size: 10px;
    }
    .heading h1 {
        font-size: 30px;
    }
    .heading p {
        font-size: 10px;
    }
}