@keyframes fade{
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes wind{
	0% {
		top: 18%;
	}
	50% {
		top: 22%;
	}
	100% {
		top: 18%;
	}
}

@keyframes wind2{
	0% {
		top: 10%;
	}
	50% {
		top: 14%;
	}
	100% {
		top: 10%;
	}
}

body{
    font-family: 'Ubuntu', sans-serif;
    background-image: linear-gradient(-45deg, #5e6eff, #aa6afc);
	background-size: 10000px 10000px;
    animation: fade 15s ease infinite;
}
.heading{
    color: white;
    position: absolute;
    top: 25%;
}
.logoBG{
    background-color: #252525;
    position: absolute;
    right: 0px;
    width: 50%;
    top: 20%;
    height: 40%;
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
    animation: wind 6s infinite ease;
    z-index: -2;
    overflow: hidden;
    max-height: 240px;
}
.logo{
    position: absolute;
    right: 25%;
    top: 10%;
    animation: wind2 7s ease infinite;
    z-index: -1;
    max-width: 250px;
}

@media screen and (prefers-reduced-motion){
    .logoBG{
        animation: wind 12s infinite ease;
    }
    .logo{
        animation: wind2 14s infinite ease;
    }
}

@media only screen and (max-width:1199px){
    .logo{
        animation: none;
        left: 0px;
        margin: 1%;
        top: 0px;
        max-width: 50px;
    }
}