.navbar {
  background-color: #181818;
  position: fixed;
  bottom: 0px;
  border-top: 2px solid white;
}

.navbar>a {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  display: inline-flex;
  align-items: center;
}

.logoText {
  font-size: 20px;
  color: white;
  margin: 0px;
}

.logoWrap {
  filter: grayscale(1) brightness(1.2);
}

.logoWrap:hover {
  filter: grayscale(0) brightness(1);
  transition: 1s ease;
}

.buttonLink {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 14px;
  border: none;
  max-height: 53px;
  border-left: solid 2px #aa6afc;
}

.pullRight {
  margin-left: auto;
}

.end {
  margin-right: 1%;
}

/* Dropup Button */

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 14px;
  border: none;
  max-height: 53px;
  border-left: solid 2px #aa6afc;
}

.more {
  border-inline: solid 2px #aa6afc;
}
.smallButtons{
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 14px;
  border: none;
  max-height: 53px;
  border-left: solid 2px #aa6afc;
}
.rightBorder{
  border-left: transparent;
  border-right: solid 2px #aa6afc;
}

/* The container <div> - needed to position the dropup content */

.dropup {
  position: relative;
  display: inline-block;
}

/* Dropup content (Hidden by Default) */

.dropup-content {
  display: none;
  position: absolute;
  bottom: 100%;
  background-color: #181818;
  min-width: 200%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropup */

.dropup-content>a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-left: solid 5px #181818;
}

/* Change color of dropup links on hover */

.dropup-content a:hover {
  background-color: #242424;
  border-left: solid 5px #aa6afc;
}

/* Show the dropup menu on hover */

.dropup:hover .dropup-content {
  display: block;
}
.dropup:hover:focus-within .dropup-content {
  display: none;
}

/* Change the background color of the dropup button when the dropup content is shown */

.dropup:hover .dropbtn {
  background-color: #242424;
  transition: 1s ease;
}

.buttonLink:hover {
  background-color: #242424;
  transition: 1s ease;
}

@media only screen and (max-width:575px) {
  .dropbtn {
    border-inline: solid 2px #aa6afc;
  }
}