:root {
    font-size: 16px;
    /* ---DEFAULT THEME--- */
    /* NAVBAR PROPERTIES */
    /*Background*/
    --nav-bg-primary: #292a35;
    --nav-bg-secondary: #1b1c23;
    --nav-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
    /*Text Color*/
    --nav-text: #b6b6b6;
    --nav-text-hover: #ececec;
    /*Header*/
    --nav-header-text-gradient: -webkit-linear-gradient(0deg, #3a3c49 25%, #1b1c23 75%);
    --nav-header-arrow: white;
    --nav-header-arrow-hover: #cc379d;
    /*Other properties*/
    --nav-border: none;
    --nav-filter: grayscale(100%) opacity(0.7);
    --nav-filter-hover: grayscale(0%) opacity(1);
    --nav-transition-speed: 600ms;
    /* BODY PROPERTIES */
    --body-bg: #292a35;
    --h-h1: #cc379d;
    --h-hr: #3a3c49;
    --h-h2: #dce0ff;
    /* FORMS */
    /*Backgrounds*/
    --form-bg: #292a35;
    --form-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
    --form-submit-bg: #3a3c49;
    --form-submit-focus-bg: #cc379d;
    /*Colors*/
    --form-header: #cc379d;
    --form-icon-color: white;
    --form-icon-focus-color: #cc379d;
    --form-input-color: white;
    --form-input-focus-color: #cc379d;
    --form-placeholder-color: white;
    --form-placeholder-focus-color: gray;
    --form-underline: #3a3c49;
    --form-underline-active: #cc379d;
    --form-error-message: #cc379d;
    --form-submit-color: white;
    --form-submit-focus-color: white;
    --form-question: gray;
    --form-divider: #3a3c49;
    --form-no-acc: #cc379d;
    /*Checkbox*/
    --form-checkbox-bg: transparent;
    --form-checkbox-checked-bg: #cc379d;
    --form-checkbox-border: 2px solid #3a3c49;
    --form-checkbox-comment: white;
    /*Other properties*/
    --form-activate-transition: 0.5s ease;
    --form-deactivate-transition: 0.5s ease;
    --form-underline-activate-transition: 1s ease;
    --form-underline-deactivate-transition: 0.3s ease;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

body {
    background: var(--body-bg);
    margin: 0;
    padding: 0;
    height: 100vh;
}

.navbar {
    position: fixed;
    background: var(--nav-bg-primary);
    transition: width 600ms ease;
    overflow: auto;
    box-shadow: var(--nav-shadow);
    border-right: var(--nav-border);
    z-index: 10;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item a {
    cursor: pointer;
}

.nav-item:nth-child(7) {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--nav-text);
    text-decoration: none;
    filter: var(--nav-filter);
    transition: var(--nav-transition-speed);
}

.nav-link:hover {
    filter: var(--nav-filter-hover);
    background: var(--nav-bg-secondary);
    color: var(--nav-text-hover);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link i {
    font-size: 1.5rem;
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--nav-bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo i {
    color: var(--nav-header-arrow);
    transform: rotate(0deg);
    transition: var(--nav-transition-speed);
}

.logo-text {
    background: var(--nav-header-text-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--nav-transition-speed);
}

.navbar:hover .logo i {
    color: var(--nav-header-arrow-hover);
    transform: rotate(-180deg);
    transition: var(--nav-transition-speed);
}

header {
    margin-top: 10vh;
    margin-left: 10rem;
    padding: 1rem;
    z-index: -1;
}

header>h1 {
    color: var(--h-h1);
    font-size: 3rem;
}

header>hr {
    width: 80%;
    margin-left: 0;
    background-color: var(--h-hr);
    height: 2px;
    border: none;
}

header>h2 {
    color: var(--h-h2);
    font-size: 1.5rem;
}

#forms {
    width: 20rem;
    top: 0;
    right: -22rem;
    position: fixed;
    height: 100vh;
    background: var(--form-bg);
    padding: 1rem;
    z-index: 9;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    transition: var(--form-deactivate-transition);
    opacity: 0;
    box-shadow: var(--form-shadow);
}

.forms-activated {
    right: 0 !important;
    opacity: 1 !important;
    transition: var(--form-activate-transition) !important;
}

#forms form {
    width: 100%;
}

#forms h2 {
    text-align: center;
    color: var(--form-header);
}

#forms fieldset {
    width: 90%;
    border: none;
}

#forms fieldset div {
    display: flex;
    flex-flow: row-reverse wrap;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 50px;
    overflow: hidden;
}

#forms>form>fieldset>div>i {
    padding: 10px 0 10px 10px;
    border: none;
    outline: none;
    color: var(--form-icon-color);
    width: 30px;
}

#forms>form>fieldset>div>input {
    background: transparent;
    padding: 0px 0 10px 10px;
    border: none;
    outline: none;
    width: 80%;
    color: var(--form-input-color);
    font-size: 1.25rem;
}

#forms>form>fieldset>div>input:focus {
    color: var(--form-input-focus-color);
}

.underline-element {
    width: 100%;
    position: relative;
    top: 2px;
    right: 288px;
    height: 2px;
    background-color: var(--form-underline-active);
    z-index: 20;
    opacity: 1;
    transition: var(--form-underline-activate-transition);
}

.underline-element::after {
    content: "";
    width: 100%;
    display: block;
    position: relative;
    left: 288px;
    height: 2px;
    background-color: var(--form-underline);
    z-index: 21;
    opacity: 1;
}

#forms>form>fieldset>div>input::placeholder {
    color: var(--form-placeholder-color);
}

#forms>form>fieldset>div>input:focus::placeholder {
    color: var(--form-placeholder-focus-color);
}

#forms>form>fieldset>div>input:focus~i {
    color: var(--form-icon-focus-color) !important;
}

#forms>form>fieldset>div>input:focus~.underline-element {
    right: 0px;
    transition: var(--form-underline-deactivate-transition);
}

#forms>form>fieldset>p {
    color: var(--form-error-message);
}

#forms>form>fieldset>input[type=submit] {
    padding: 20px;
    width: 100%;
    border: none;
    background-color: var(--form-submit-bg);
    color: var(--form-submit-color);
    cursor: pointer;
}

#forms>form>fieldset>input[type=submit]:hover {
    padding: 20px;
    width: 100%;
    border: none;
    background-color: var(--form-submit-focus-bg);
    color: var(--form-submit-focus-color);
}

form>a {
    cursor: pointer;
}

.checkboxwrap {
    display: flex;
    flex-flow: row wrap !important;
    align-items: center;
    height: auto !important;
}

.checkboxwrap input {
    appearance: none;
    position: absolute;
    top: -1000px;
}

.checkboxwrap input~label {
    background: var(--form-checkbox-bg);
    border: var(--form-checkbox-border);
    height: 18px;
    width: 18px;
    margin-left: 1rem;
    position: relative;
    cursor: pointer;
}

.checkboxwrap input:checked~label {
    background: var(--form-checkbox-checked-bg);
    border: var(--form-checkbox-checked-border);
}

.checkboxwrap p {
    margin: 10px;
    max-width: 75%;
    color: var(--form-checkbox-comment);
}

.no-acc-p {
    margin-left: 1rem;
    color: var(--form-question);
}

.divide-login {
    width: 90%;
    background-color: var(--form-divider);
    border: none;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 2px;
}

.no-acc-a {
    margin-left: 1rem;
    color: var(--form-no-acc);
}

#login[disabled=true] {
    display: none;
    position: absolute;
    top: -1000;
    left: -1000;
}

#register[disabled=true] {
    display: none;
    position: absolute;
    top: -1000;
    left: -1000;
}

/* Small screens */

@media only screen and (max-width: 600px) {
    #forms {
        width: 90%;
        padding: 10%;
    }
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
        overflow-y: hidden;
        border-top: var(--nav-border);
    }
    .logo {
        display: none;
    }
    .navbar-nav {
        flex-direction: row;
    }
    .nav-link {
        justify-content: center;
    }
    header {
        margin-left: 0;
    }
}

/* Large screens */

@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
        overflow-x: hidden;
    }
    .navbar:hover {
        width: 16rem;
    }
    .navbar:hover .link-text {
        display: inline;
    }
    .navbar:hover .logo i {
        margin-left: 11rem;
    }
    .navbar:hover .logo-text {
        background: var(--nav-header-text-gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        left: -15px;
    }
}

.dark {
/* ---DEFAULT THEME--- */
    /* NAVBAR PROPERTIES */
    /*Background*/
    --nav-bg-primary: #292a35;
    --nav-bg-secondary: #1b1c23;
    --nav-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
    /*Text Color*/
    --nav-text: #b6b6b6;
    --nav-text-hover: #ececec;
    /*Header*/
    --nav-header-text-gradient: -webkit-linear-gradient(0deg, #3a3c49 25%, #1b1c23 75%);
    --nav-header-arrow: white;
    --nav-header-arrow-hover: #cc379d;
    /*Other properties*/
    --nav-border: none;
    --nav-filter: grayscale(100%) opacity(0.7);
    --nav-filter-hover: grayscale(0%) opacity(1);
    --nav-transition-speed: 600ms;
    /* BODY PROPERTIES */
    --body-bg: #292a35;
    --h-h1: #cc379d;
    --h-hr: #3a3c49;
    --h-h2: #dce0ff;
    /* FORMS */
    /*Backgrounds*/
    --form-bg: #292a35;
    --form-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
    --form-submit-bg: #3a3c49;
    --form-submit-focus-bg: #cc379d;
    /*Colors*/
    --form-header: #cc379d;
    --form-icon-color: white;
    --form-icon-focus-color: #cc379d;
    --form-input-color: white;
    --form-input-focus-color: #cc379d;
    --form-placeholder-color: white;
    --form-placeholder-focus-color: gray;
    --form-underline: #3a3c49;
    --form-underline-active: #cc379d;
    --form-error-message: #cc379d;
    --form-submit-color: white;
    --form-submit-focus-color: white;
    --form-question: gray;
    --form-divider: #3a3c49;
    --form-no-acc: #cc379d;
    /*Checkbox*/
    --form-checkbox-bg: transparent;
    --form-checkbox-checked-bg: #cc379d;
    --form-checkbox-border: 2px solid #3a3c49;
    --form-checkbox-checked-border: 2px solid #3a3c49;
    --form-checkbox-comment: white;
    /*Other properties*/
    --form-activate-transition: 0.5s ease;
    --form-deactivate-transition: 0.5s ease;
    --form-underline-activate-transition: 1s ease;
    --form-underline-deactivate-transition: 0.3s ease;
}

.light {
/* ---LIGHT THEME--- */
    /* NAVBAR PROPERTIES */
    /*Background*/
    --nav-bg-primary: #d2d2d2;
    --nav-bg-secondary: #bcbcbc;
    --nav-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    /*Text Color*/
    --nav-text: black;
    --nav-text-hover: black;
    /*Header*/
    --nav-header-text-gradient: -webkit-linear-gradient(0deg, #d2d2d2 25%, #bcbcbc 75%);
    --nav-header-arrow: white;
    --nav-header-arrow-hover: black;
    /*Other properties*/
    --nav-border: none;
    --nav-filter: grayscale(100%) opacity(0.7);
    --nav-filter-hover: grayscale(0%) opacity(1);
    --nav-transition-speed: 600ms;
    /* BODY PROPERTIES */
    --body-bg: #fff;
    --h-h1: #cc379d;
    --h-hr: #e8e8e8;
    --h-h2: black;
    /* FORMS */
    /*Backgrounds*/
    --form-bg: #d2d2d2;
    --form-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    --form-submit-bg: black;
    --form-submit-focus-bg: #cc379d;
    /*Colors*/
    --form-header: #cc379d;
    --form-icon-color: black;
    --form-icon-focus-color: #cc379d;
    --form-input-color: black;
    --form-input-focus-color: #cc379d;
    --form-placeholder-color: black;
    --form-placeholder-focus-color: gray;
    --form-underline: #bcbcbc;
    --form-underline-active: #cc379d;
    --form-error-message: #cc379d;
    --form-submit-color: white;
    --form-submit-focus-color: white;
    --form-question: gray;
    --form-divider: #bcbcbc;
    --form-no-acc: #cc379d;
    /*Checkbox*/
    --form-checkbox-bg: transparent;
    --form-checkbox-checked-bg: #cc379d;
    --form-checkbox-border: 2px solid #bcbcbc;
    --form-checkbox-checked-border: 2px solid #bcbcbc;
    --form-checkbox-comment: black;
    /*Other properties*/
    --form-activate-transition: 0.5s ease;
    --form-deactivate-transition: 0.5s ease;
    --form-underline-activate-transition: 1s ease;
    --form-underline-deactivate-transition: 0.3s ease;
}

.amoled {
/* ---DEFAULT THEME--- */
    /* NAVBAR PROPERTIES */
    /*Background*/
    --nav-bg-primary: #161616;
    --nav-bg-secondary: #111111;
    --nav-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
    /*Text Color*/
    --nav-text: #b6b6b6;
    --nav-text-hover: #ececec;
    /*Header*/
    --nav-header-text-gradient: -webkit-linear-gradient(0deg, #1b1b1b 25%, #111111 75%);
    --nav-header-arrow: white;
    --nav-header-arrow-hover: #cc379d;
    /*Other properties*/
    --nav-border: none;
    --nav-filter: grayscale(100%) opacity(0.7);
    --nav-filter-hover: grayscale(0%) opacity(1);
    --nav-transition-speed: 600ms;
    /* BODY PROPERTIES */
    --body-bg: black;
    --h-h1: #cc379d;
    --h-hr: #111111;
    --h-h2: white;
    /* FORMS */
    /*Backgrounds*/
    --form-bg: #161616;
    --form-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
    --form-submit-bg: #1d1d1d;
    --form-submit-focus-bg: #cc379d;
    /*Colors*/
    --form-header: #cc379d;
    --form-icon-color: white;
    --form-icon-focus-color: #cc379d;
    --form-input-color: white;
    --form-input-focus-color: #cc379d;
    --form-placeholder-color: white;
    --form-placeholder-focus-color: gray;
    --form-underline: #1d1d1d;
    --form-underline-active: #cc379d;
    --form-error-message: #cc379d;
    --form-submit-color: white;
    --form-submit-focus-color: white;
    --form-question: gray;
    --form-divider: #1d1d1d;
    --form-no-acc: #cc379d;
    /*Checkbox*/
    --form-checkbox-bg: transparent;
    --form-checkbox-checked-bg: #cc379d;
    --form-checkbox-border: 2px solid #2b2b2b;
    --form-checkbox-checked-border: 2px solid #2b2b2b;
    --form-checkbox-comment: white;
    /*Other properties*/
    --form-activate-transition: 0.5s ease;
    --form-deactivate-transition: 0.5s ease;
    --form-underline-activate-transition: 1s ease;
    --form-underline-deactivate-transition: 0.3s ease;
}