:root{
    --highlights: #ed5087;
    --selected: #50ed84;
    --main: #1f1f25;
    --sub: #24242c;
    --items: #282831;
    --h1: white;
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--sub);
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

h1{
    margin: 100px 0 0 2%;
    color: var(--h1);
    font-size: 2.25rem;
}
h2{
    margin-left: 2%;
    color: var(--highlights);
    font-size: 1.5rem;
}
h3{
    margin-left: 2%;
    color: white;
    font-size: 1.25rem;
    line-height: 30px;
}

.line-selection{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.line-selection > div{
    background-color: var(--items);
    border-radius: 10px;
    width: 280px;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 20px 10px;
    z-index: 1;
}

.line-selection > div > h4{
    font-size: 1.25rem;
    color: var(--highlights);
    text-align: center;
}


.line-selection > div > ul{
    padding: 0;
    color: white;
}

.line-selection > div > p{
    color: white;
    font-weight: bold;
}

.line-selection > div > ul > li{
    font-size: 1.15rem;
    text-align: left;
    align-self:flex-start;
    justify-self: flex-start;
}

.line-selection > div > button{
    width: 80%;
    background-color: var(--highlights);
    border: none;
    padding: 20px 10px;
    border-radius: 10px;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    filter: brightness(0.9);
    margin: 20px 10px;
}
.line-selection > div > button:hover{
    filter: brightness(1);
}

.line-divider{
    width: 80%;
    color: transparent;
    border-top: 2px solid var(--sub);
}
form > div{
    display: flex !important;
    flex-flow: row wrap !important;
    justify-content: space-evenly;
}
form > div > div{
    background-color: var(--items);
    border-radius: 10px;
    width: 280px;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 20px 10px;
    z-index: 1;
}

form > div > div > h4{
    font-size: 1.15rem;
    color: var(--highlights);
    text-align: center;
}


form > div > div > ul{
    padding: 0;
    color: white;
}

form > div > div > p{
    color: white;
    font-weight: bold;
    padding-inline: 10%;
    text-align: center;
}

form > div > div > p > a{
    color: var(--highlights);
}

form > div > div > ul > li{
    font-size: 1.15rem;
    text-align: left;
    align-self:flex-start;
    justify-self: flex-start;
}

input[type=radio]{
    visibility: hidden;
    position: absolute;
}

input[type=radio] ~ label{
    background-color: var(--highlights);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    filter: brightness(0.9);
    width: 80%;
    text-align: center;
}

input[type=radio]:disabled ~ label{
    background-color: var(--main);
    cursor: default;
    color: gray;
}

input[type=radio]:hover:disabled ~ label{
    background-color: var(--main);
    filter: brightness(0.9);
    cursor: default;
}

input[type=radio]:hover ~ label{
    filter: brightness(1);
}

input[type=radio]:checked ~ label{
    background-color: var(--selected);
    filter: brightness(1);
}

.unselected{
    display: none !important;
}

#continue{
    align-self: flex-end;
    width: 280px;
    position: relative;
    height: 75px;
    border-radius: 10px;
    border: none;
    background-color: var(--highlights);
    color: black;
    font-size: 1.25rem;
    cursor: pointer;
}

#continue:disabled{
    background-color: var(--items);
    color: gray;
    border: 2px solid var(--main);
    cursor: default;
}

@media screen and (min-width: 616px){
    form > div{
        justify-content: flex-start;
    }
}